<app-navbar></app-navbar>

<div class="container">
    <h3 class="text-center">World Blood Donor Day 2017</h3>
    <div class="row align-items-center">
        <div class="col">
            <img src="././assets/images/wbd20171.jpg" class="img-fluid img-thumbnail" alt="" style="width: 1200px;height: 300px;margin-bottom: 20px;">
            <div class="section">
                <img src="././assets/images/wbd20172.jpg" class="img-fluid img-thumbnail" alt="">
                <img src="././assets/images/wbd20173.jpg" class="img-fluid img-thumbnail" alt="">
                <img src="././assets/images/wbd20174.jpg" class="img-fluid img-thumbnail" alt="">
                <img src="././assets/images/wbd20175.jpg" class="img-fluid img-thumbnail" alt="">
                <img src="././assets/images/wbd20176.jpg" class="img-fluid img-thumbnail" alt="">
                <img src="././assets/images/wbd20177.jpg" class="img-fluid img-thumbnail" alt="">
                <img src="././assets/images/wbd20178.jpg" class="img-fluid img-thumbnail" alt="">
                <img src="././assets/images/wbd20179.jpg" class="img-fluid img-thumbnail" alt="">
                <img src="././assets/images/wbd201710.jpg" class="img-fluid img-thumbnail" alt="">
                <img src="././assets/images/wbd201711.jpg" class="img-fluid img-thumbnail" alt="">
                <img src="././assets/images/wbd201712.jpg" class="img-fluid img-thumbnail" alt="">
                <img src="././assets/images/wbd201713.jpg" class="img-fluid img-thumbnail" alt="">
                <img src="././assets/images/wbd201714.jpg" class="img-fluid img-thumbnail" alt="">
                <img src="././assets/images/wbd201715.jpg" class="img-fluid img-thumbnail" alt="">
                <img src="././assets/images/wbd201716.jpg" class="img-fluid img-thumbnail" alt="">
                <img src="././assets/images/wbd201717.jpg" class="img-fluid img-thumbnail" alt="">
                <img src="././assets/images/wbd201718.jpg" class="img-fluid img-thumbnail" alt="">
                <img src="././assets/images/wbd201719.jpg" class="img-fluid img-thumbnail" alt="">
                <img src="././assets/images/wbd201720.jpg" class="img-fluid img-thumbnail" alt="">
                <img src="././assets/images/wbd201721.jpg" class="img-fluid img-thumbnail" alt="">

            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>