mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
.input-fieled{
  padding-left: 20px;
  padding-right: 20px;
}
.container{
  margin-top: 20px;
  margin-bottom: 20px;
}
.alert {
	padding: 20px;
	background-color: #f44336; /* Red */
	color: white;
	margin-bottom: 15px;
  }
  
  .success{
	padding: 20px;
	background-color:#249424; /* Green */
	color: white;
	margin-bottom: 15px;
  }
  .bld-camp-header{
    color: green;
    font-weight: bold;
    font-size: 25px;
  }
  .mat-row{
    padding-top: 20px;
    padding-bottom: 20px;
  }
