<app-navbar></app-navbar>

<div class="container">
    <h3 class="text-center">Donor Magazines</h3>
    <div class="row align-items-center">
        <div class="col-md-3 text-center">
           <h6>Magazine 2015</h6>
           <img class="img-fluid" src="assets/images/magazine2015.jpg" alt=""><br>
           <button class="btn btn-success">Read & Download</button>      
        </div>
        <div class="col-md-3 text-center">
           <h6>WBDD 2013</h6>
           <img class="img-fluid" src="assets/images/WBDD2013.jpg" alt=""><br>
           <button class="btn btn-success">Read & Download</button>            
        </div>
        <div class="col-md-3 text-center">
           <h6>WBDD 2004</h6>
           <img class="img-fluid" src="assets/images/WBDD2004.jpg" alt=""><br>  
           <button class="btn btn-success">Read & Download</button>          
        </div>
        <div class="col-md-3 text-center">
           <h6>WBDD 2016</h6>
           <img class="img-fluid" src="assets/images/WBDD2016.jpg" alt=""><br>  
           <button class="btn btn-success">Read & Download</button>          
        </div>     
    </div>
</div>

<app-footer></app-footer>