.container{
    margin-bottom: 30px;
}
h3{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h6{
    font-size: 18px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
.btn{
    margin-top: 10px;
}
.row{
    margin-top: 10px;
}