<app-admin-header></app-admin-header>
<app-admin-side-nav></app-admin-side-nav>

<div class="container">
    <div class="row">
        <div class="col">
           <h4 class="text-center">Manage Registered Donee</h4>
           <table *ngIf="doneeService.dne" datatable="ng" class="table table-striped table-bordered table-hover display" id="my-table">
            <thead>
                <tr><td colspan="15" class="tbl-header" style="padding-left: 13%">National Blood Transfussion Service</td></tr>
                <tr><td colspan="15" class="tbl-header" style="padding-left: 18%">Registered Donee</td></tr>
                <tr>
                    <th >Donee ID</th>
                    <th >Donee NIC</th>
                    <th >Full Name</th>
                    <th >Gender</th>
                    <th >Birthday</th>
                    <th >Province</th>
                    <th >District</th>
                    <th >Contact No</th>
                    <th >Email</th>
                    <th >Blood Group</th>
                    <th >Address</th>
                    <th >Spouce Details</th>
                    <th >Health Issues</th>
                    <th >Medical Reports</th>
                    <th>Action</th>
                </tr>

            </thead>
            <tbody>
                <tr *ngFor="let dn of doneeService.dne">
                    <td>{{dn._id}}</td>
                    <td>{{dn.donee_nic}}</td>
                    <td>{{dn.full_name}}</td>
                    <td>{{dn.gender}}</td>
                    <td>{{dn.birthday}}</td>
                    <td>{{dn.province}}</td>
                    <td>{{dn.district}}</td>
                    <td>{{dn.contact}}</td>
                    <td>{{dn.email}}</td>
                    <td>{{dn.blood_group}}</td>
                    <td>{{dn.address}}</td>
                    <td>{{dn.spouce}}</td>
                    <td>{{dn.health}}</td>
                    <td><img src="assets/images/Kidney_disease.jpg" alt="" class="medical"></td>
                    <td>
                        <a class="action-btn text-center" (click)="onDelete(dn._id)">
                          <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
           </table>
        </div>
    </div>
</div>