<app-admin-header></app-admin-header>
<app-admin-side-nav></app-admin-side-nav>

<div class="container-fluid">
    <div class="row">
        <div class="col">
           <h4 class="text-center">Manage Registered Donee</h4>
               <div class="row filter">
                   <div class="col-md-4">
                      <div class="input-group">
                        <label class="label control-label">Blood Group :</label>
                        <select class="form-control">
                           <option selected>Select an option</option>
                           <option value="1">A+</option>
                           <option value="2">A-</option>
                           <option value="3">B+</option>
                           <option value="4">B-</option>
                           <option value="5">AB+</option>
                           <option value="6">AB-</option>
                           <option value="7">O+</option>
                           <option value="8">O-</option>
                        </select>
                      </div>
                   </div>
                   <div class="col-md-4">
                      <div class="input-group">
                          <label class="label control-label">District :</label>
                           <select class="form-control">
                             <option selected>Select an option</option>
                             <option value="1">Galle</option>
                             <option value="2">Matara</option>
                             <option value="3">Hambanthota</option>
                             <option value="4">Colombo</option>
                             <option value="5">Kalutara</option>
                             <option value="6">Gampaha</option>
                             <option value="7">Kurunegala</option>
                             <option value="8">Anuradapura</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="tbl">
                    <table class="table table-striped table-bordered table-hover">
                     <thead>
                     <tr>
                         <th class="table-danger">Donee ID</th>
                         <th class="table-danger">NIC</th>
                         <th class="table-danger">Full Name</th>
                         <th class="table-danger">Gender</th>
                         <th class="table-danger">Birthday</th>
                         <th class="table-danger">City</th>
                         <th class="table-danger">Contact No</th>
                         <th class="table-danger">Email</th>
                         <th class="table-danger">Blood Group</th>
                         <th class="table-danger">Address</th>
                         <th class="table-danger">Spouce Details</th>
                         <th class="table-danger">Health Issues</th>
                         <th class="table-danger">Medical Reports</th>
                         <th class="table-danger">Action</th>
                     </tr>
                     </thead>
                     <tbody>
                     <tr>
                         <td>D001</td>
                         <td>951043028v</td>
                         <td>Prageeth Thilina</td>
                         <td>Male</td>
                         <td>1995-04-13</td>
                         <td>Benthota</td>
                         <td>0716925323</td>
                         <td>ptg@gmail.com</td>
                         <td>A+</td>
                         <td>Ranthotuwila</td>
                         <td>Chathuri</td>
                         <td>No</td>
                         <td></td>
                         <td>Delete</td>
                     </tr>
                     <tr>
                        <td>D001</td>
                        <td>951043028v</td>
                        <td>Prageeth Thilina</td>
                        <td>Male</td>
                        <td>1995-04-13</td>
                        <td>Benthota</td>
                        <td>0716925323</td>
                        <td>ptg@gmail.com</td>
                        <td>A+</td>
                        <td>Ranthotuwila</td>
                        <td>Chathuri</td>
                        <td>No</td>
                        <td></td>
                        <td>Delete</td>
                     </tr>
                     <tr>
                        <td>D001</td>
                        <td>951043028v</td>
                        <td>Prageeth Thilina</td>
                        <td>Male</td>
                        <td>1995-04-13</td>
                        <td>Benthota</td>
                        <td>0716925323</td>
                        <td>ptg@gmail.com</td>
                        <td>A+</td>
                        <td>Ranthotuwila</td>
                        <td>Chathuri</td>
                        <td>No</td>
                        <td></td>
                        <td>Delete</td>
                     </tr>
                     </tbody>
                    </table>
                </div>
                </div>
        </div>
    </div>
</div>