<app-navbar></app-navbar>
	<div class="container">
    <h2 class="text-center">Donee Registration Form</h2>
     <form>
   	   <div class="row">
           <div class="col-md-6" style="margin-left: -10px;">
              <div class="input-group">
           	    <label class="label control-label">Donee ID :</label>
                <input type="text" name="cusid" class="form-control" placeholder="Donor ID" readonly style="background-color: rgb(173, 170, 165);">
              </div>
              <div class="input-group">
                <label class="label control-label">NIC No :</label>
                <input type="text" name="nic" class="form-control" placeholder="NIC No" required>
              </div>
              <div class="input-group">
                <label class="label control-label">Full Name :</label>
                <input type="text" name="name" class="form-control" placeholder="Name" required>
              </div>
              <div class="input-group">
                <label class="label control-label">Gender :</label>
                <input type="radio" name="gender" id="male" class="radio" value="male">&nbsp;<label id="rd">Male</label>
                <input type="radio" name="gender" id="female" class="radio" value="female">&nbsp;<label id="rd">Female</label>
              </div>
              <div class="input-group">
                <label class="label control-label">Birthday :</label>
                <input type="date" name="birthday" class="form-control" required>
              </div>
              <div class="input-group">
                <label class="label control-label">City :</label>
                <input type="text" name="city" class="form-control" placeholder="City" required>
              </div>                      
              <div class="input-group">
                <label class="label control-label">Contact No :</label>
                <input type="tel" name="contact" class="form-control" placeholder="Contact No" required>
              </div>
              <div class="input-group">
                <label class="label control-label">Email Address :</label>
                <input type="email" name="email" class="form-control" placeholder="Email Address" required>
              </div> 
           </div>  
		       <div class="col-md-6" style="margin-right: 10px;margin-left: -10px;">
              <div class="input-group">
                <label class="label control-label">Blood Group :</label>
                <select class="form-control" required>
                  <option selected>Select an option</option>
                  <option value="1">A+</option>
                  <option value="2">A-</option>
                  <option value="3">B+</option>
                  <option value="4">B-</option>
                  <option value="5">AB+</option>
                  <option value="6">AB-</option>
                  <option value="7">O+</option>
                  <option value="8">O-</option>
                </select>
              </div>
              <div class="input-group">
                <label class="label control-label">Address :</label>
                <textarea name="address" class="form-control" placeholder="Address" required></textarea>
              </div>
              <div class="input-group wrapper">
                  <label class="label control-label">Password :</label>
                  <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
                  <i class="fa fa-eye" style="position: absolute;margin-left: 93%;margin-top: 12px;" (click)="angpswrdVisible()"></i>                  
              </div>
              <div class="input-group wrapper">
                <label class="label control-label">Retype<br>Password :</label>
                <input type="password" name="re-password" id="re-type-password" class="form-control" placeholder="Retype-Password" required>
                <i class="fa fa-eye" style="position: absolute;margin-left: 93%;margin-top: 12px;" (click)="angrepswrdVisible()"></i>                  
              </div>
              <div class="input-group">
                  <label class="label control-label">Spouce Details :</label>
                  <textarea name="spouce" class="form-control" placeholder="Spouce Details" required></textarea>
              </div>
              <div class="input-group">
                <label class="label control-label">Health Issues :</label>
                <textarea name="health" class="form-control" placeholder="Health Issues" required></textarea>
            </div>
            <div class="input-group">
              <label class="label control-label">Medical Reports :</label>
              <input type="file" name="medical_reports" class="form-control" required>
            </div>
           </div>
                 <input type="submit" name="registersubmit" class="btn btn-success" value="submit" style="margin-left: 18%;">
                 <input type="reset" name="registerclear" class="btn btn-danger" value="Clear">
                <input type="reset" name="registerreset" class="btn btn-danger" value="Cancel">
        </div>
    </form>
</div>