<app-navbar></app-navbar>

<div class="container">
    <h3 class="text-center">Functions of Blood</h3>
    <div class="row align-items-center">
        <div class="col">
           <h5>A. Transportation</h5>
           <h5>B. Regulation</h5>
           <h5 style="margin-bottom: 30px;">C.Protection</h5>

           <div class="content">
             <h6>A. Transportation</h6>
             <p class="caption bg-light">Transportation of respiratory gases
                Oxygen is essential for living cells. Blood taka up this gas from the lungs and transport to
                other cells incorporated into red cells in a substance called oxygenated-hemoglobin. Carbon
                dioxide is produced due to the metabolic activities of the living cells and blood helps to
                transport this gas to the lungs to eliminate. Carbon dioxide is transported mainly as
                bicarbonate dissolved in blood.</p>
                <img class="img-fluid" src="assets/images/pic1.jpg" alt=""><br>
             <h6>Transportation of Nutrients</h6>
             <p class="caption bg-light">Complex substances in our diet are digested into absorbable nutrients
                like glucose, amino acids, fatty acids, vitamins and minerals. These are absorbed into the
                blood through the gastrointestinal system and circulated throughout the body</p>
                <img class="img-fluid" src="assets/images/pic2.png" alt=""><br>
             <h6>Transportation of waste product</h6>
             <p class="caption bg-light">Waste products are transported to the appropriate organs for excretion.
                For example urea and ammonia are diverted into kidneys to be excreted as urine and Carbon
                dioxide is transported into the lungs to eliminate form the body</p>
                <img class="img-fluid" src="assets/images/pic3.png" alt=""><br>
                <h6>Transportation of other substances</h6>
                <p class="caption bg-light">Whatever the substance is to reach a destination within the body it
                    needs the help of blood because blood is the transport system of the body. For example if
                    you take a medicine either as a tablet or as an injection it enters into the blood
                    circulation to reach the site of action. Hormones produced by endocrine glands are also
                    released into the blood to reach their destination.</p>
                <img class="img-fluid" src="assets/images/pic4.jpg" alt=""><br>
                <h6>B. Regulatory Role of Blood</h6>
                <p class="caption bg-light">Human bodies have optimal functionality only if the conditions
                     inside the body are regulated in relatively constant and stable levels. This regulation
                    is called homeostasis. Blood and the circulatory system are directly related to the
                    homeostasis. Body temperature, acid base balance or pH and blood pressure are important
                    parameters maintained within stable levels.</p>
                <img class="img-fluid" src="assets/images/pic5.png" alt=""><br>
                <img class="img-fluid" src="assets/images/pic6.jpg" alt=""><br>
                <h6>C. Protective Role of Blood</h6>
                <p class="caption bg-light">Protection from micro organisms like virus, bacteria and fungi is
                     the responsibility of the immune system. White blood cells directly engulf some of these
                      pathogens and this process is known as phagocytosis. Immuno-globulins and antitoxins
                     dissolved in the blood are also helpful to protect against microbes.</p>
                <img class="img-fluid" src="assets/images/pic7.png" alt=""><br>
                <p class="caption bg-light">Protection against bleeding is another important role of blood.
                     Platelets and a cascade of plasma proteins known as clotting factors are important to form
                     a blood clot and to stop bleeding when there is damage to a blood vessel by injury.</p>
                <img class="img-fluid" src="assets/images/pic8.jpg" alt=""><br>
           </div>
        </div>
    </div>
</div>

<app-footer></app-footer>