<app-admin-header></app-admin-header>
<app-admin-side-nav></app-admin-side-nav>

<div class="container">
    <div class="row">
        <div class="col">
          <!-- Success message -->
            <div class="success" *ngIf="showSucessMessage">
             Deleted successfully
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
          <button class="btn btn-success" routerLink="/add-blood-storage">Add New Inventory</button>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col">
           <h4 class="text-center">Manage Blood Storage Inventory</h4>
           <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th class="table-danger">Blood Bag ID</th>
                <th class="table-danger">Blood Group</th>
                <th class="table-danger">Volume</th>
                <th class="table-danger">Blood Received Date</th>
                <th class="table-danger">Blood Expiry Date</th>
                <th class="table-danger">Operation</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bloodinv of bloodinventoryService.blood_inventories">
                    <td>{{bloodinv._id}}</td>
                    <td>{{bloodinv.blood_group}}</td>
                    <td>{{bloodinv.volume}}</td>
                    <td>{{bloodinv.received_date}}</td>
                    <td>{{bloodinv.expiry_date}}</td>
                    <td>
                        <a class="action-btn" (click)="onEdit(bloodinv)">
                          <i class="fas fa-pencil-alt" style="margin-right: 20px;"></i>
                        </a>
                        <a class="action-btn" (click)="onDelete(bloodinv._id)">
                          <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
           </table>
        </div>
    </div>
</div>