h3{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.section img{
    width: 200px;
    height: 150px;
    margin-right: 10px;
}
.container{
    margin-bottom: 20px;
}