<app-navbar></app-navbar>

<div class="container">
    <h3 class="text-center">World Blood Donor Day 2016</h3>
    <div class="row align-items-center">
        <div class="col">
            <img src="././assets/images/wbd20161.jpg" class="img-fluid img-thumbnail" alt="" style="width: 1200px;height: 300px;margin-bottom: 20px;">
            <div class="section">
                <img src="././assets/images/wbd20162.jpg" class="img-fluid img-thumbnail" alt="">
                <img src="././assets/images/wbd20163.jpg" class="img-fluid img-thumbnail" alt="">
                <img src="././assets/images/wbd20164.jpg" class="img-fluid img-thumbnail" alt="">
                <img src="././assets/images/wbd20165.jpg" class="img-fluid img-thumbnail" alt="">
                <img src="././assets/images/wbd20166.jpg" class="img-fluid img-thumbnail" alt="">
                <img src="././assets/images/wbd20167.jpg" class="img-fluid img-thumbnail" alt="">
                <img src="././assets/images/wbd20168.jpg" class="img-fluid img-thumbnail" alt="">
                <img src="././assets/images/wbd20169.jpg" class="img-fluid img-thumbnail" alt="">
                <img src="././assets/images/wbd201610.jpg" class="img-fluid img-thumbnail" alt="">
                <img src="././assets/images/wbd201612.jpg" class="img-fluid img-thumbnail" alt="">
                <img src="././assets/images/wbd201613.jpg" class="img-fluid img-thumbnail" alt="">
                <img src="././assets/images/wbd201614.jpg" class="img-fluid img-thumbnail" alt="">
                <img src="././assets/images/wbd201615.jpg" class="img-fluid img-thumbnail" alt="">
                <img src="././assets/images/wbd201616.jpg" class="img-fluid img-thumbnail" alt="">
                <img src="././assets/images/wbd201618.jpg" class="img-fluid img-thumbnail" alt="">
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>