.container{
  margin-top: 20px;
  height: 750px;
  overflow: hidden;
}
img{
  width: 500px;
  height: 500px;
}
th{
background: rgb(2, 163, 56);
font-size: 20px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
td{
font-size: 15px;
font-weight: bold;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.medical{
  width: 75px;
  height: 75px;
}
#my-table{
  border: 2px solid rgb(0, 0, 0);
  margin-top: 50px;
}
