<app-navbar></app-navbar>

<div class="container">
    <h3 class="text-center">Blood Groups</h3>
    <div class="row align-items-center">
        <div class="col">
            <div class="content">
                <p class="caption bg-light">Blood is unique among other body tissues due to its liquefied nature. 
                    As a result of this curious researchers could obtain a blood sample and experiment with it
                    more conveniently than any other body tissues. Some of the very early experiments involved
                    blood transfusion from animal to animal and transfusion from animal to human. However, most
                    of these experiments ended up with detrimental outcome to the recipient due to severe
                    allergic reactions.</p>
                <img class="img-fluid" src="assets/images/Karl.png" alt="">
            </div>
            <div class="content">
                <p class="caption bg-light">In 1901 the Austrian Scientist Karl Landsteiner, for the first time
                     in the history, postulated the concept of blood groups. He obtained blood samples from
                    several individuals and separated red cells and serum. Once separated, he mixed the red
                    cells of one individual with serum of another simulating a transfusion in vitro. He
                    demonstrated that the said mixing resulted in a visible agglutination reaction in some
                    pairs while others did not do so. Finally he concluded that this observation is due
                    to the existence of blood and the ABO blood group system was discovered. For this
                    historical discovery Karl Landsteiner was awarded with the Nobel Prize for Medicine
                    in 1030.<br><br>His birthday falls on 14th of June and World Health Organization selected
                    this to celebrate “World Blood Donor Day” to pay tribute and motivate voluntary non 
                    remunerated blood donors.<br><br>Landsteiner’s postulation about ABO blood group system has been
                    scientifically proven and studied in detail. According to the current understanding
                    differences in the molecular structure of glyco-proteins known as antigens found on the
                    surface of the red cells determine the blood group. For example in ABO blood Group
                    system there are two antigens known as A antigen and  B antigen and they give rise to
                    following blood groups.
                </p>
                <table border="1">
                    <tr>
                        <th>Antigen found on the red cell surface</th>
                        <th>Blood Group determined by the antigen</th>
                    </tr>
                    <tr>
                        <td>A antigen</td>
                        <td>Blood Group A</td>
                    </tr>
                    <tr>
                        <td>B antigen</td>
                        <td>Blood Group B</td>
                    </tr>
                    <tr>
                        <td>Both A antigen and B antigen</td>
                        <td>Blood Group AB</td>
                    </tr>
                    <tr>
                        <td>Neither A antigen Nor B antigen</td>
                        <td>Blood Group O</td>
                    </tr>
                </table><br>
                <p class="caption bg-light">In 1940 Karl Landsteiner and Alexander Wiener discovered another 
                    red cell antigen. It was identified as Rhesus factor or Rhesus antigen as it was discovered
                     while they experimented using the red cells obtained from Rhesus Monkey (Rhesus macaque). 
                     Rh antigen can be found in more than 90% of the individuals they are typed as Rh-positive.
                      Individuals who do not have the Rh antigen on their red cells are typed as Rh-negative. 
                      Accordingly the 4 blood groups in the ABO system can be subdivided further as follows.</p>
                      
                <table border="1">
                        <tr>
                            <th>Blood Group</th>
                            <th>Antigen on Red cell surface- Inherited<br> genetically- Found at birth</th>
                            <th>Antibody in Plasma - Naturally develop<br> 3 to 4  months after birth</th>
                        </tr>
                        <tr>
                            <td>Blood Group  A</td>
                            <td>Antigen A</td>
                            <td>Antibody B</td>
                        </tr>
                        <tr>
                            <td>Blood Group  B</td>
                            <td>Antigen B</td>
                            <td>Antibody A</td>
                        </tr>
                        <tr>
                            <td>Blood Group  AB</td>
                            <td>Antigen A & B</td>
                            <td>None</td>
                        </tr>
                        <tr>
                            <td>Blood Group  O</td>
                            <td>None</td>
                            <td>Antibody A and B</td>
                        </tr>
                </table><br>      
            </div>           
        </div>
    </div>
</div>
<div class="container">
    <div class="row align-items-center">
        <div class="col">
            <div class="content">
                <h5>Compatibility of blood donor and recipient</h5><br>
                <p class="caption bg-light">During a blood transfusion red blood cells obtained from a donor
                    is given to a vein (a blood vessel that carry blood towards the heart) of the patient or
                    recipient through a blood transfusion set. After the transfusion the donor’s red cells
                    dissolves in the recipient’s plasma and circulates all over the recipient’s body. Since
                    our immune system is on constant surveillance on the foreign substances entering into
                    the blood circulation transfused red cells are also subjected to this surveillance.
                    The immuno-globulins or antibodies in the recipient’s plasma would react against the
                    antigens of donor red cells if they contain a foreign antigen. For example group
                    A blood cannot be given to a group B patient since antigen A on donor red cells
                    reacts with A antibody in the recipients plasma giving rise to a transfusion
                    reaction. Furthermore, prior to a safe transfusion we must consider about the
                    antigen on donor’s red cells and antibodies in the recipient’s plasma. In the transfusion
                    laboratory this is determined by a compatibility testing. Compatible donors and recipients
                    are marked in the following table,</p>
                <img class="img-fluid" src="assets/images/table1.PNG" alt="" id="img1"><br><br>
                <p class="caption bg-light">Group O red cells are universal donors since they do not have A or
                     B antigens on them they can escape the immune surveillance of any of the recipients. Group
                    AB individuals are universal recipients since they do not have A or B antibodies in their
                    plasma they do not mount a reaction against any of the ABO groups.</p>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>