<app-navbar></app-navbar>

<div class="container">
    <h3 class="text-center">About NBTS</h3>
    <div class="row align-items-center">
        <div class="col">
            <img src="assets/images/NewBuilding.jpg" class="img-fluid img-thumbnail" alt=""><br><br>
            <p class="caption bg-light">“From a single roomed blood bank towards a National Service”<br><br>
                National Blood Transfusion Service (NBTS) Sri Lanka is a special campaign under the ministry of health. It has a unique role providing timely supply of quality assured blood and blood components and related laboratory, clinical, academic and research services for the entire government sector hospitals and for the majority of the private sector hospital in the country.<br><br>
                NBTS has a distinguished history spanning more than fifty five years. General public in Sri Lanka become aware of blood transfusion in 1959 with rather unfortunate incident. That is the assassination of late Prime Minister S.W.R.D.Bandaranaike, when an appeal was made to public to donate blood.<br>
                During that time the Blood Bank was only a single room located near the surgical unit of then General Hospital Colombo and was shifted in 1960 to the building situated near the gate in front of the Faculty of Medicine. It was an era where glass bottles were sterilized and reused by the service, a donor was paid ten Rupees per a donation and the blood was screened only for malaria and syphilis.<br><br>
                The journey from this single roomed blood to the centrally coordinated national blood transfusion service has remarkable milestones. Now the NBTS consists of 90 hospital based blood banks affiliated to 17 cluster centers based on their geographic location. National Blood Center at Elvitigala Mawatha Narahenpita is the operational head quarters where national policies are developed and implement for the efficient operation of blood bank net work in the country.<br><br>               
                Today NBTS annually collect more than 350,000 blood units all form voluntary non remunerated blood donors. Blood Components are produced from almost all donations. Recommended tests to prevent Transfusion Transmitted Infections are done for all donor units using the latest test methods including Nucleic Acid Testing (NAT) as a pilot project. Optimal storage facilities are available at all hospital based blood banks and efficient stock exchange within and outside the cluster blood bank system assures the availability of various blood components in desired blood groups.</p><br><br> 
           <p class="caption bg-light">NBTS is a decentralized unit which comes under Ministry of Health, Sri Lanka. NBTS is the sole supplier of blood and blood products to all state hospitals and some of the private hospitals which are registered under Ministry of Health for supply of blood and blood products.Having its head quarters at National Blood Centre (NBC), NBTS has 96 blood banks island wide. The categorization of blood banks is as follows...<br><br>
            1. National Blood Centre - the head quarters.<br>
            2. Cluster Centres.<br>
            3. Peripheral Blood Banks.</p><br><br>
           <h6>History of Blood Transfusion Service in Sri Lanka</h6>
           <p class="caption bg-light">Blood transfusion is first performed in Sri Lanka in late 1950. it only became widely known to the public in 1959 with news report announcing the assassination of late Prime Minister Mr. S.W.R.D.Bandaranayake. An appeal was made to the public to donate blood.<br><br>
            Initially there was only one blood bank in Sri Lanka and it was confined to a room close to the surgical unit of National Hospital of Sri Lanka (NHSL).</p>
           <h6>In 1960</h6>
           <p class="caption bg-light">The' blood bank was shifted to its current building near the main entrance of NHSL.</p>
           <h6>In 1967</h6>
           <p class="caption bg-light">The red ? donor booklet was introduced as a certificate to free blood donors. Other donors were paid a minimum of 10 rupees for each donation.</p>
           <h6>In 1968</h6>
           <p class="caption bg-light">The blood bank was semi decentralized under Ministry of Health. It was under the direction of a superintendent blood transfusion service. It had a staff of 124. During this era blood was collected into glass bottles and collected blood was screened only for Malaria and Syphilis. Hospital Based Blood Banks are started to function in late 1968.</p>
           <h6>In 1979</h6>
           <p class="caption bg-light">Paid donation is discontinued and voluntary donation is encouraged to ensure the safety of collected blood.</p>
           <h6>In 1980</h6>
           <p class="caption bg-light">By this time the number of hospital based blood banks were 20 and 12 emergency bleeding centres were also established. Mobile blood donation programs were initiated with 2 mobile blood collecting teams.</p>
           <h6>In 1981</h6>
           <p class="caption bg-light">The blood bank of NHSL (then referred to as Central Blood Bank) started to use disposable plastic bags insted of glass bottles for blood collection. Component laboratory established in the blood bank of NHSL (Central Blood Bank).</p>
           <h6>In 1982</h6>
           <p class="caption bg-light">NBTS was taken under Laboratory Services from specialized program. Volunteer Non-remunerated blood donations increased to 97%.<br><br>
            "Anti A1" reagent manufactured for the first time in Sri Lanka Using "Kollu Seeds".</p>
           <h6>In 1985</h6>
           <p class="caption bg-light">Disposable plastic bags were introduced to the other blood banks other than Central Blood Bank. Screening of blood for hepatitis B was initiated.</p>
           <h6>In 1987</h6>
           <p class="caption bg-light">Emerging of a new health threat by AIDS, leads to introduction of screening of all collected blood for HIV 1 and 2 antibodies.</p>
           <h6>In 1988</h6>
           <p class="caption bg-light">Component laboratory facility was extended to some of the larger blood banks. (Colombo North and Kandy)</p>
           <h6>In 1990</h6>
           <p class="caption bg-light">Component laboratory facility was further extended to blood banks at Karapitiya, Kurunegala, CI Maharagama, Peradeniya, Anuradhapura, Matara and Badulla. By this time there were 32 blood banks and 10 emergency bleeding centres. Central Blood Bank functioned as the training centre for medical and paramedical personels of NBTS.</p>
           <h6>In 1999</h6>
           <p class="caption bg-light">The head quarters of NBTS established at national blood centre and most of the vital laboratories and majority of the staff shifted from Central Blood Bank to National Blood Centre. NBTS became a fully decentralized unit. The first director of NBC and NBTS was Dr. (Mrs.) Bindusara.</p>
           <h6>In 2009</h6>
           <p class="caption bg-light">Cluster centre concept established and most of the authority given to the cluster centres for effective delivery of service to various parts of the country.</p>
           <h6>In 2014</h6>
           <p class="caption bg-light">100% voluntary donor base achieved. No replacement or family donors are accepted to NBTS any more.</p>
           <h6></h6>
           <p class="caption bg-light"></p>
        </div>
    </div>
</div>

<app-footer></app-footer>