.container{
    margin-top: 10px;
	margin-bottom: 30px;
}
h4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
	margin-bottom: 20px;
}
  .table{
	display: block;
	overflow-y: auto;
    white-space: nowrap;
    width: 100%;
  }
th{
    color: rgb(8, 85, 42);
    width: 400px;
}


