.container-fluid{
  margin-top: 30px;
  margin-bottom: 30px;
}
.container{
  margin-top: 20px;
  height: 450px;
  overflow: hidden;
}
img{
  width: 400px;
  height: 350px;
}
th{
background: rgb(2, 163, 56);
font-size: 20px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
td{
font-size: 15px;
font-weight: bold;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#my-table{
  border: 2px solid rgb(0, 0, 0);
  margin-top: 300px;
}

