.container{
	margin-top: 20px;
	margin-bottom: 20px;
}
.row{
	background: rgb(0, 0, 0);
	margin-top: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.label{
	color: rgb(255, 255, 255);
	font-size: 18px;
	float: left;
	width: 150px;
	text-align: right;
}
.form-control{
	margin-left: 40px;
	padding-left: 10px;
	color: rgb(255, 255, 255);
	background: transparent;
}
.radio{
	height: 20px;
	width: 20px;
	margin-left: 40px;
}
#rd{
	font-size: 15px;
	color: rgb(255, 255, 255);
}
.input-group{
	margin-top: 10px;
}
h2{
	margin-top: 30px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-weight: bold;
	color: rgb(255, 255, 255);
}
.btn{
	width: 20%;
	height: 50px;
	margin-right: 20px;
	margin-top: 2%;
}
.alert {
	padding: 20px;
	background-color: #f44336; /* Red */
	color: white;
	margin-bottom: 15px;
  }
  
  .success{
	padding: 20px;
	background-color:#13aa57; /* Green */
	color: white;
	margin-bottom: 15px;
  }
  .read-only{
	  background: rgb(63, 62, 62);
  }