.container{
    margin-bottom: 30px;
}
h3{
    margin-top: 20px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h4{
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
}
p{
    text-align: justify;
    font-family: serif;
}
img{
    width: 600px;
    height: 300px;
}
.row{
    margin-top: 20px;
}
.fa{
    color: red;
}