<app-navbar></app-navbar>

<div class="container">
    <h3 class="text-center">News</h3>
    <div class="row">
        <div class="col-md-6">
          <h4>Copy of Blood Bank Donor Management SMS System Won National 
            Best e-Content Award in eSwabhimani</h4>
            <p>January 29th, 2016 | <i class="fa fa-eye"></i> 2324952 Views |<br></p>
            <p class="caption bg-light">The e-Swabhimani is an initiative of the Information Communication
            technology agency of Sri Lanka aimed at recognizing excellence in digital content creation.
            It is expected that this  national award would stimulate a greater interest in the
            development of a wide range of content and services that would serve the needs of
            society.</p>
            <img class="img-fluid" src="assets/images/news1.jpg" alt=""><br>
        </div>
        <div class="col-md-6">
          <h4>Fist two candidates under SAATM Fellowship completed
            their training at NBC</h4>
            <p>January 09th, 2015 | <i class="fa fa-eye"></i> 5686515 Views |<br></p>
            <p class="caption bg-light">The fist two trainees of the inaugural SAATM fellowship training
            program successfully completed their training during April/May 2013 at the National Blood
            Center, Colombo.Dr Indrani Roy and Mr Dilram Silpakar from India received their training
            under the supervision of Dr Pushpa Dissanayake (Consultant Transfusion Physician).
            Dr Shanthi Perera (IC/Training unit) acted as the training coordinator for this
            program.</p>
            <img class="img-fluid" src="assets/images/news2.jpg" alt=""><br>
        </div>
    </div>
</div>

<app-footer></app-footer>