h3{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
li{
    font-size: 15px;
    text-align: justify;
    margin-bottom: 10px;
    font-family: cursive;
}
img{
    height: 13%;
    width: 100%;

}