<aside class="sidebar">
    <div class="user-info" style="background: url(assets/images/user-img-background.jpg)">
       <div class="logo-section">
          <div class="image">
              <img src="assets/images/user.png" width="48" height="48" alt="User" />
          </div>
          <div class="info-container">
              <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blood Bank Sri Lanka</div>
              <div class="email">info@nbts.health.gov.lk</div>           
          </div>
       </div>
    </div>
    <div class="menu">
        <ul class="list">
            <li class="header">Admin Dashboard</li>                                     
        </ul>
        <ul class="menu-bar">
            <li><a href="#"><i class="fa fa-user"></i>Dashboard</a></li>
            <li>
               <a href="#"><i class="fa fa-user"></i>Blood Storage</a>
               <ul class="sub-menu">
                  <li><a href="#"><i class="fa fa-circle"></i>View Blood Storage</a></li>
                  <li><a href="#"><i class="fa fa-circle"></i>Manage Blood Storage</a></li>
                  <li><a href="#"><i class="fa fa-circle"></i>Add Blood Storage</a></li>
               </ul>
            </li> 
            <li>
                <a href="#"><i class="fa fa-user"></i>Blood Camps</a>
                <ul class="sub-menu">
                   <li><a href="#"><i class="fa fa-circle"></i>View Blood Camps</a></li>
                   <li><a href="#"><i class="fa fa-circle"></i>Add Blood Camps</a></li>
                   <li><a href="#"><i class="fa fa-circle"></i>Manage Blood Camps</a></li>
                </ul>
            </li> 
            <li><a href="#"><i class="fa fa-link"></i>View Hospital Blood Orders</a></li>
            <li><a href="#"><i class="fa fa-link"></i>Post Blood Details</a></li>
            <li><a href="#"><i class="fa fa-user"></i>Send Notifications to Donors</a></li>
        </ul>
    </div>
</aside>