.container{
    margin: 70px 15px 0 250px;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.col-md-10{
	background: rgb(11, 231, 121);
    padding: 10px 10px 10px 10px;
}
.label{
	color: rgb(0, 0, 0);
	font-size: 18px;
	float: left;
	width: 150px;
	text-align: right;
}
.form-control{
	margin-left: 40px;
	padding-left: 10px;
}
.input-group{
	margin-top: 10px;
}
h2{
	margin-left: 17%;
	margin-top: -1%;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
.btn{
	width: 20%;
	height: 40px;
	margin-right: 20px;
	margin-top: 2%;
}
label.validation-message{
	color:#ed5558;
}
 .alert {
	padding: 20px;
	background-color: #f44336; /* Red */
	color: white;
	margin-bottom: 15px;
  }
  
  .success{
	padding: 20px;
	background-color:#249424; /* Green */
	color: white;
	margin-bottom: 15px;
  }
