.container{
    margin-top: 30px;
	margin-bottom: 30px;
}
.col-md-6{
    padding-top: 20px;
    padding-bottom: 10px;
}
.label{
	color: rgb(255, 255, 255);
	font-size: 18px;
	float: left;
	width: 150px;
	text-align: right;
}
.form-control{
	font-size: 15px;
	margin-left: 40px;
    padding-left: 10px;
	width: 50px;
	color: white;
	background: transparent;
}
.input-group{
    margin-top: 10px;
    width: 90%;
}

h2{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-weight: bold;
	color: rgb(255, 255, 255);
}
.btn{
	width: 25%;
	height: 40px;
	margin-top: 2%;
}
textarea{
	height: 45px;
}
.wrapper{
	position: relative;	
}
.alert {
	padding: 20px;
	background-color: #f44336; /* Red */
	color: white;
	margin-bottom: 15px;
  }
  
  .success{
	padding: 20px;
	background-color:#249424; /* Green */
	color: white;
	margin-bottom: 15px;
  }
  .read-only{
	  background: rgb(83, 83, 80);
  }