.contf{
    background:url('/../../assets/images/banner1.1.jpg') no-repeat;
	background-position:center;
	background-attachment:fixed;
	background-size:100% 100%;
	-webkit-background-size:100% 100%;
	-moz-background-size:100% 100%;
	-o-background-size:100% 100%;
    -ms-background-size:100% 100%;
}
h3{
    padding-top: 40px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 35px;
}
h6{
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}
p{
    font-family: sans-serif;
    text-align: justify;
    color: rgb(255, 255, 255);
}