<app-navbar></app-navbar>

<div class="container-fluid contf">
<div class="container">
  <h3 class="text-center">Who can Donate Blood</h3>
  <div class="row">
    <div class="col-md-6">
      <h6 class="text-center">අවවාදයයි</h6><br><br>
      <p class="caption">පසුගිය මාසය ඇතුළත ඔබට උණ, කැස්ස, හුස්ම ගැනීමේ අපහසුතා වැනි රෝග ලක්ෂණ වලින් පෙළුනේද?
        මේ අවස්ථාවේ ඔබගේ නිවසේ උණ, කැස්ස, හුස්ම ගැනීමේ අපහසුතා සහිත පුද්ගලයෙකු වාසය කරන්නේද?
        පසුගිය මාසය ඇතුළත විදේශගත වූ කෙනෙකු නිවසේ වාසය කළේද?
        පසුගිය මාසය ඇතුළත විදේශගතව පැමිණි කෙනෙකු සමඟ ඔබ සමීප ඇසුරක් පැවැත්වූයේද?
        පසුගිය මාස තුන ඇතුළත ඔබ විදේශගත වී තිබේද?
        පිළිතුර ඔව් නම් මේ මොහොතේදී ඔබ ලේ දන් දීමට සුදුසු නොවේ</p>
    </div>
    <div class="col-md-6">
      <h6 class="text-center">Warning</h6><br><br>
      <p class="caption">Over the past month or so have you been seeing symptoms such as fever and coughing?
        At this time, there is a person living with fever and coughing in your house?
        During the past month, someone who had gone abroad lived at home?
        Have you had a close encounter with someone who has been abroad for the past month?
        Have you been abroad for the past three months?
        If Yes, You are not eligiable to donate your blood within this moment</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <h6>Who can donate blood?</h6>
        <p class="caption">The person must fulfill several criteria to be accepted as a blood donor.
           These criteria are set forth to ensure the safety of the donor as well as the quality of donated
            blood.</p>
        <h6>Donor Selection Criteria</h6>
        <p class="caption">Age above 18 years and below 60 years.<br>
          If previously donated, at least 4 months should be elapsed since the date of previous donation.<br>
          Hemoglobin level should be more than 12g/dL. (this blood test is done prior to each blood donation)<br>
          Free from any serious disease condition or pregnancy.<br>
          Should have a valid identity card or any other document to prove the identity.<br>
          Free from "Risk Behaviours".</p>
        <h6>Risk Behaviours</h6>
        <p class="caption">Homosexuals.<br>
          Sex workers and their clients.<br>
          Drug addicts.<br>
          Engaging in sex with any of the above.<br>
          Having more than one sexual partner</p>
        <h6></h6>
        <p class="caption">Voluntory non remunerated donors. (donate for the sake of others and do not expect any benefit. their blood is considered safe and healthy)<br>
          Replacement donors. (donate to replace the units used for their friends or family members)<br>
          Paid donors. (receive payment for donation<br>
          Directed donors. (donate only for a specific patient's requirement)<br><br>Replacement and Paid
          donors are no longer accepted by NBTS. Replacement donation was carried out until recently in some
          blood banks due to the shortage of blood stocks. Asking patients for replacement donors will lead
          to more pressure on the relatives, who are already in stress and this in turn results in illegal
          paid donations.<br><br>Directed donations are used in certain conditions such as in rare blood
          groups.<br><br>NBTS achieved the mighty figure of 100% voluntory non-remunerated blood donor base.</p>
    </div>
  </div>
</div>
</div>

<app-footer></app-footer>