<app-donor-header></app-donor-header>

<div class="container-fluid">
    <div class="row">
        <div class="col">

             <!-- Success message -->
        <div class="success" *ngIf="showSucessMessage">
            Saved successfully
          </div>
        
          <!-- Error message -->
          <div class="alert" *ngIf="serverErrorMessages">
            {{serverErrorMessages}}
          </div>
  
            <h4 class="text-center">Donee Requests</h4>
            <table *ngIf="doneebloodrequestService.doneebloodrequests" class="table table-primary table-bordered table-hover" datatable="ng">
                <thead>
                    <tr>
                        <th class="table-success">Date</th>
                        <th class="table-success">Email</th>
                        <th class="table-success">Blood Group</th>
                        <th class="table-success">Spouce Details</th>
                        <th class="table-success">Health Issues</th>
                        <th class="table-success">Medical Reports</th>
                        <th class="table-success">Order Status</th>
                        <th class="table-success" style="width: 150px;">Action </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let dnebldrqst of doneebloodrequestService.doneebloodrequests">
                        <td>{{dnebldrqst.date}}</td>
                        <td>{{dnebldrqst.email}}</td>
                        <td>{{dnebldrqst.blood_group}}</td>
                        <td>{{dnebldrqst.spouce}}</td>
                        <td>{{dnebldrqst.health}}</td>
                        <td><img src='assets/images/donee-requests/{{dnebldrqst.email}}.jpg' alt="" class="medical"></td>
                        <td>{{dnebldrqst.status}}</td>
                        <td class="text-center">
                            <a class="action-btn btn btn-primary" (click)="onComment(dnebldrqst)" style="margin-right: 5px;">Comment</a>
                            <a class="action-btn" (click)="onCall(dnebldrqst)">
                                <i class="fa fa-phone" style="margin-right: 5px;"></i>
                            </a>
                            <a class="action-btn" (click)="onEmail(dnebldrqst)">
                                <i class="fa fa-envelope"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>