.container-fluid{
    margin-top: 10px;
}
h4{
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 20px;
}
th{
    padding-left: 10px;
    padding-right: 10px;

}
td{
    padding-left: 10px;
    padding-right: 10px;

}
.filter{
    margin-bottom: 20px;
}
.form-control{
    margin-left: 10px;    
}
.medical{
	width: 100px;
	height: 100px;
}
.medical:hover{
    width: 400px;
    height: 400px;
}
.table-success{
    background: rgb(83, 238, 83);
}
.fa{
    font-size: 25px;
}