<app-navbar></app-navbar>

<div class="container">
    <h3 class="text-center">Our Journey</h3>
    <div class="row align-items-center">
        <div class="col">
           <h5>“From a single roomed blood bank towards a National Service”</h5>
           <div>
             <img src="././assets/images/OldBloodBank.jpg" class="img-fluid thumbnail img-rounded" alt="">
             <img src="././assets/images/NewBuilding.jpg" class="img-fluid thumbnail img-rounded" alt="" style="margin-left: 20px;">
           </div>
           <div class="caption">
              <p>National Blood Transfusion Service (NBTS) Sri Lanka is a special campaign under the ministry of
                health. It has a unique role providing timely supply of quality assured blood and blood
                components and related laboratory, clinical, academic and research services for the entire
                government sector hospitals and for the majority of the private sector hospital in the country.<br><br>
                NBTS has a distinguished history spanning more than fifty five years. General public in Sri Lanka
                become aware of blood transfusion in 1959 with rather unfortunate incident. That is the
                assassination of late Prime Minister S.W.R.D.Bandaranaike, when an appeal was made to public
                to donate blood.<br><br>
                During that time the Blood Bank was only a single room located near the surgical unit of then
                General Hospital Colombo and was shifted in 1960 to the building situated near the gate in front
                of the Faculty of Medicine. It was an era where glass bottles were sterilized and reused by the
                service, a donor was paid ten Rupees per a donation and the blood was screened only for malaria
                and syphilis.<br><br>
                The journey from this single roomed blood to the centrally coordinated national blood transfusion
                service has remarkable milestones. Now the NBTS consists of 90 hospital based blood banks
                affiliated to 17 cluster centers based on their geographic location. National Blood Center at
                Elvitigala Mawatha Narahenpita is the operational head quarters where national policies are
                developed and implement for the efficient operation of blood bank net work in the country.<br><br>
                
                Today NBTS annually collect more than 350,000 blood units all form voluntary non remunerated blood
                donors. Blood Components are produced from almost all donations. Recommended tests to prevent
                Transfusion Transmitted Infections are done for all donor units using the latest test methods
                including Nucleic Acid Testing (NAT) as a pilot project. Optimal storage facilities are available at
                all hospital based blood banks and efficient stock exchange within and outside the cluster blood
                bank system assures the availability of various blood components in desired blood groups.

                </p>
           </div>
        </div>
    </div>
</div>

<app-footer></app-footer>