<nav class="navbar navbar-dark navbar-expand-lg">
    <a class="navbar-brand" routerLink="/homepage">
      <img src="/assets/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
      National Blood Transfusion Service
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>    

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="navbar-nav ml-auto">
       <button class="btn btn-primary" routerLink="/add-donors">Add Donors</button>
       <button class="btn btn-primary" routerLink="/hospital-order-blood">Order Blood</button>
       <button class="btn btn-primary" routerLink="/view-order">View Order</button>

       <button class="btn btn-success my-2 my-sm-0"><i class="fa fa-user" style="margin-right: 10px;"></i>Logout</button> 
     </ul>
    </div>
</nav>