<section class="foot">
	<div class="container-fluid">
        <h3 class="contact-topic">Contact Us</h3>
	  <div class="row">
		  <div class="col-lg-6 col-md-6 col-sm-6" style="padding-left: 20px;" data-aos="flip-left">
			<div class="">
				<p class="p1 text-center">Give Us Feedback</p>
				<form  method="post" name="sentMessage" id="contactForm" >
			 		<div class="form-group">
                            <label class="contact-p1">Full Name:</label>
                            <input type="text" class="form-control" name="name" id="name" required style="background-color: transparent;">
                    </div>	
                    <div class="form-group">
                            <label class="contact-p1">Phone Number:</label>
                            <input type="tel" class="form-control" name="phone" id="phone" required style="background-color: transparent;">
                    </div>
                    <div class="form-group">
                            <label class="contact-p1">Email Address:</label>
                            <input type="email" class="form-control" name="email" id="email" required style="background-color: transparent;">
                    </div>
                    <input type="submit" name="sub" value="Send Now" class="btn btn-primary">	
				</form>
            </div>
            <div>
                <ul class="list-unstyled list-inline text-center">
                    <li class="list-inline-item"><a href="https://www.facebook.com/" class="btn-floating btn-gplus mx-1"> <i class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="https://twitter.com/" class="btn-floating btn-gplus mx-1"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="https://plus.google.com/u/0/" class="btn-floating btn-gplus mx-1"><i class="fab fa-google-plus-g"></i></a></li> 
                </ul>
        </div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6" data-aos="flip-right" style="padding-left: 50px;">
            <p class="contact-para"><strong class="contact-strong">Phone :</strong><span class="abcd">General : +94 112369931-4<br>
            Donor Section : +94 117220677</span></p><br>
            <p class="contact-para"><strong class="contact-strong">Fax :</strong><span style="float: right;
                margin-right: 48%;">+94 112369939</span></p>
			<p class="contact-para"><strong class="contact-strong">Email : </strong><a href="mailto:name@example.com"><span style="float: right;
                margin-right: 38%;color:#fff;">info@nbts.health.gov.lk</span></a></p>
            <p class="contact-para"><strong class="contact-strong">Address : </strong><span class="abcde">National Blood Center<br>
                No 555/5D<br>Elvitigala mawatha<br>Narahenpita<br>Colombo 05<br>Sri Lanka.</span></p>			
             <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d31686.93438161145!2d79.84879336837366!3d6.906527430608478!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d6.9218386!2d79.8562055!4m5!1s0x3ae25a103d225647%3A0xef1259856066f0bf!2sNational%20Blood%20Centre%2C%20Narahenpita%2C%20555%2F5%20D%20Elvitigala%20Mawatha%2C%20Colombo!3m2!1d6.8912169!2d79.87739069999999!5e0!3m2!1sen!2slk!4v1584904114631!5m2!1sen!2slk&zoom=0" width="450" height="450" frameborder="0" style="border:0;" allowfullscreen="" class="map"></iframe>
		</div>
		<div class="clearfix"></div>
	</div>
	</div>	

    <div class="footer-copyright text-center py-3 copy">
        <p>Copyright © 2020 National Blood Transfusion Service - Sri Lanka. All Rights Reserved <a href="index.html">Blood Bank Sri Lanka</a> </p>
    </div>
</section>
