.container{
	margin-top: 20px;
	margin-bottom: 20px;
}
.row{
	margin-top: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	background: rgb(0, 0, 0);
}
.label{
	color: rgb(255, 255, 255);
	font-size: 18px;
	float: left;
	width: 150px;
	text-align: right;
}
.form-control{
	margin-left: 40px;
	padding-left: 10px;
	color: white;
	background: transparent;
}

.input-group{
	margin-top: 10px;
}
::placeholder{
	color: black;
}
h2{
	margin-left: 2%;
	margin-top: -1%;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-weight: bold;
	color: white;
}
.btn{
	width: 20%;
	height: 50px;
	margin-right: 20px;
	margin-top: 2%;
}
.wrapper{
	position: relative;	
}
input[type=text].invalid-textbox,input[type=password].invalid-textbox{
	border-bottom: 2px solid #ed5558;
}
	
label.validation-message{
	color:#ed5558;
}
.fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInDown {
	0% {
	  opacity: 0;
	  -webkit-transform: translate3d(0, -100%, 0);
	  transform: translate3d(0, -100%, 0);
	}
	100% {
	  opacity: 1;
	  -webkit-transform: none;
	  transform: none;
	}
  }
  
  @keyframes fadeInDown {
	0% {
	  opacity: 0;
	  -webkit-transform: translate3d(0, -100%, 0);
	  transform: translate3d(0, -100%, 0);
	}
	100% {
	  opacity: 1;
	  -webkit-transform: none;
	  transform: none;
	}
  }

  .alert {
	padding: 20px;
	background-color: #f44336; /* Red */
	color: white;
	margin-bottom: 15px;
  }
  
  .success{
	padding: 20px;
	background-color:#249424; /* Green */
	color: white;
	margin-bottom: 15px;
  }