agm-map{
    height: 600px;
}
.map{
    background: rgb(8, 131, 247);
    border: 10px;
}
#img1{
    width: 100%;
}
table{
    align-items: center;
}
th{
    background: rgb(238, 83, 178);
    width: 15px;
}
h3{
    margin-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
h4{
    font-weight: bold;
    margin-bottom: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

