<app-admin-header></app-admin-header>
<app-admin-side-nav></app-admin-side-nav>

<div class="container">
    <div class="row">
        <div class="col">
           <h4 class="text-center">Manage Registered Donors</h4>
           <table *ngIf="donorService.dnrs" datatable="ng" class="table table-striped table-bordered table-hover display" id="my-table">
            <thead>
                <tr><td colspan="16" class="tbl-header" style="padding-left: 13%">National Blood Transfussion Service</td></tr>
                <tr><td colspan="16" class="tbl-header" style="padding-left: 18%">Volunteer Donors</td></tr>
                <tr>
                    <th >Donor ID</th>
                    <th >Full Name</th>
                    <th >Gender</th>
                    <th >Birthday</th>
                    <th >Last Donate Date</th>
                    <th >Province</th>
                    <th >District</th>
                    <th >Blood Group</th>
                    <th >Address</th>
                    <th >Email</th>
                    <th >Contact No</th>
                    <th >Spouce Details</th>
                    <th >Health Issues</th>
                    <th >Photo</th>
                    <th >Contact</th>
                    <th>Action</th>

                </tr>

            </thead>
            <tbody>
                <tr *ngFor="let dnr of donorService.dnrs">
                    <td>{{dnr._id}}</td>
                    <td>{{dnr.full_name}}</td>
                    <td>{{dnr.gender}}</td>
                    <td>{{dnr.birthday}}</td>
                    <td>{{dnr.last_donate_date}}</td>
                    <td>{{dnr.province}}</td>
                    <td>{{dnr.district}}</td>
                    <td>{{dnr.blood_group}}</td>
                    <td>{{dnr.address}}</td>
                    <td>{{dnr.email}}</td>
                    <td>{{dnr.contact}}</td>
                    <td>{{dnr.spouce}}</td>
                    <td>{{dnr.health}}</td>
                    <td><img src="assets/images/praggeth_donor.jpg" alt="" class="medical"></td>
                    <td>
                        <a class="action-btn" (click)="onCall(dnr)">
                          <i class="fa fa-phone" style="margin-right: 20px;"></i>
                        </a>
                        <a class="action-btn" (click)="onEmail(dnr)">
                          <i class="fa fa-envelope"></i>
                        </a>
                    </td>
                    <td>
                        <a class="action-btn text-center" (click)="onDelete(dnr._id)">
                          <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
           </table>
        </div>
    </div>
</div>