<nav class="navbar navbar-dark navbar-expand-lg">
    <a class="navbar-brand" routerLink="/main-admin-dashboard">
      <img src="/assets/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
      National Blood Transfusion Service
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
        <form class="form-inline my-2 my-lg-0">
          <i class="fa fa-bell not-icon"></i>
          <i class="fa fa-envelope not-icon"></i>
          <div class="input-group">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
               <button class="btn btn-secondary btn-search" type="button"><i class="fa fa-search"></i></button>
            </div>
          </div>&#160;
          <button class="btn btn-success my-2 my-sm-0" (click)="onLogout()"><i class="fa fa-user" style="margin-right: 10px;"></i>Logout</button>
        </form>
      </ul>
  </div>
</nav>