<app-navbar></app-navbar>

<div class="container">
    <button class="btn btn-success">Make an Appointment</button>
    <div class="row">
        <div class="col">
           <h4 class="text-center">Account Details</h4>
           <table border="1">
               <tr>
                   <th>Donor ID</th>
                   <td>001</td>
               </tr>
               <tr>
                   <th>Name</th>
                   <td>Prageeth</td>
               </tr>
               <tr>
                   <th>NIC No</th>
                   <td>951043028v</td>
               </tr>
               <tr>
                   <th>Contact Name</th>
                   <td>0716925323</td>
               </tr>
               <tr>
                   <th>Profile Status</th>
                   <td>active</td>
               </tr>
           </table>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
           <h4 class="text-center">Appointment Details</h4>
           <table class="table table table-striped">
            <tr>
                <th class="table-success">Appointment ID</th>
                <th class="table-success">Location</th>
                <th class="table-success">Date</th>
                <th class="table-success">Time</th>
            </tr>
            <tr>
                <td>001</td>
                <td>Benthota</td>
                <td>2020-04-01</td>
                <td>10.00a.m</td>
            </tr>
           </table>
        </div>
    </div>
</div>