.container{
    margin-top: 10px;
}
h4{
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 20px;
}
th{
    padding-left: 10px;
    padding-right: 10px;

}
td{
    padding-left: 10px;
    padding-right: 10px;

}
.btn:hover{
    background: rgb(34, 56, 250);
}
