<app-navbar></app-navbar>

<div class="container">
    <div class="row">
      <form name="login" action="#">
        <div class="col">
            <h3 class="text-center">Donee Login</h3>
            <label class="label control-label">NIC</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-user" style="font-size: 35px"></i></span>
            <input type="text" class="form-control" name="nic" placeholder="NIC" required>
            <p class="nameErr"></p>
          </div>
            <label class="label control-label">Password</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="fas fa-lock" style="font-size: 35px"></i></span>
            <input type="Password" #x class="form-control" name="password" id="password" placeholder="Password" required>
            <p class="passErr"></p>
          </div>
            <input type="checkbox" (click)="x.type=x.type=='password'?'text':'password'"><small>&nbsp; Show Password</small><br>
            <input type="checkbox"><small>&nbsp; Remember me</small>		
            <p class="text-right"><a href="#">Forget Password</a></p>
          <div class="form-group"> 
            <input type="submit" name="loginsubmit" class="btn btn-default btn-outline-primary" value="SIGN IN">
            <p class="text-center">Don't have an account yet? <a routerLink="/donee-register">SIGN UP</a></p>
          </div> 
        </div>
      </form>
      <img src="/assets/images/login.jpg" alt="" id="img2">  
    </div>	
</div>
