<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col">
            <h4 class="text-center">Appointment History</h4>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="table-success">Province</th>
                        <th class="table-success">District</th>
                        <th class="table-success">Address</th>
                        <th class="table-success">Organiser</th>
                        <th class="table-success">Date</th>
                        <th class="table-success">Time</th>
                        <th class="table-success">Organiser Contact</th>
                        <th class="table-success">Organiser Email</th>
                        <th class="table-success">Published Date</th>
                        <th class="table-success">Event Posters</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let bloodcampaign of api.bloodcampaigns">
                        <td>{{bloodcampaign.province}}</td>
                        <td>{{bloodcampaign.district}}</td>
                        <td>{{bloodcampaign.address}}</td>
                        <td>{{bloodcampaign.organiser}}</td>
                        <td>{{bloodcampaign.date}}</td>
                        <td>{{bloodcampaign.time}}</td>
                        <td>{{bloodcampaign.contact}}</td>
                        <td>{{bloodcampaign.email}}</td>
                        <td>{{bloodcampaign.created}}</td>
                        <td><img src={{bloodcampaign.imageUrl}}></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>