
.img-post{
  width: 150px;
  height: 150px;
}
.container-fluid{
  margin-top: 20px;
  padding-top: 10px;
  margin-bottom: 30px;
}
h4{
  font-weight: bold;
  font-size: 25px;
  color: rgb(31, 116, 31);
}
th{
  background: rgb(43, 124, 43);
}