<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
  <a class="navbar-brand" routerLink="">
    <img src="/assets/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    National Blood Transfusion Service
  </a>  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> 
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         About
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/vission-mission">Vision and Mission</a>
          <a class="dropdown-item" routerLink="/our-journey">Our Journey</a>
          <a class="dropdown-item" routerLink="/about-nbts">About NBTS</a>
          <a class="dropdown-item" routerLink="/organization-chart">Organization Chart</a>
          <a class="dropdown-item" routerLink="/other-blood-banks">Cluster System</a>
          <a class="dropdown-item" routerLink="/performances-of-nbts">Performance of NBTS</a>
          <a class="dropdown-item" routerLink="/contact-us">Contact Us</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Donate
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/about-blood">About Blood</a>
          <a class="dropdown-item" routerLink="/functions-of-blood">Functions of Blood</a>
          <a class="dropdown-item" routerLink="/blood-groups">Blood Groups</a>
          <a class="dropdown-item" routerLink="/who-can-donate-blood">Who Can Donate Blood</a>

        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Services
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/lab-section">Lab Services</a>
          <a class="dropdown-item" routerLink="/training-section">Training Section</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Publications
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/donor-magazines">Donor Magazine</a>
          <a class="dropdown-item" routerLink="/news">News</a>
          <a class="dropdown-item" routerLink="/anual-reports">Annual Reports</a>

        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          WBDD
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/wbd17">World Blood Donors Day 2017</a>
          <a class="dropdown-item" routerLink="/wbd16">World Blood Donors Day 2016</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          WHO CC
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/terms-of-reference">Terms of Reference</a>
          <a class="dropdown-item" routerLink="/news-and-events">News and Events</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <div class="input-group">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" style="margin-right: 0px;">
        <div class="input-group-append">
          <button class="btn btn-secondary btn-search" type="button"><i class="fa fa-search"></i></button>
        </div>
      </div>&#160;

        <ul class="navbar-nav ml-auto">
          <div class="topbar-divider d-none d-sm-block"></div>
              <button class="btn btn-success" id="userDropdown" routerLink="/donor-login">Login</button>
          </ul>
    </form>
  </div>
</nav>