<app-navbar></app-navbar>

<div class="container">
    <h3 class="text-center">Contact Us</h3>
    <div class="row align-items-center">
       <div class="col-md-8">
           <h5>National Blood Center</h5>
           <p> No.555/5D, Elvitigala Mawatha, Colombo 05, Sri Lanka.<br>           
            Tel : +94 112 369 931 Ext : 203 / 297<br>            
            Fax : +94 112 369 937 / +94 112 369 939<br>            
            Email : <a href="mailto:info@nbts.health.gov.lk">info@nbts.health.gov.lk</a></p><br>
           <h5>Head of WHO Collaborating Center : Dr. Lakshman Edirisinghe</h5>
           <p>Contact : +94 773017340,<br>Email : <a href="mailto:lakshman.edi@gmail.com">lakshman.edi@gmail.com</a></p><br>
           <h5>Medical Officer In-charge : Dr. Dilani Jayalath</h5>
           <p>Contact : +94 718 035 811,<br>Email : <a href="mailto:dilanijayalath@yahoo.com">dilanijayalath@yahoo.com </a></p><br>
           <h5>Training Coordinator – International Training : Dr. Charuni Kohombange</h5>
           <p>Contact : +94 714 410 467,<br>Email : <a href="mailto:moplnbts@gmail.com">moplnbts@gmail.com</a></p><br>
           <h5>Training Coordinator – Local Training : Dr. Indika Rupasena</h5>
           <p>Contact : +94 714 442 361,<br>Email : <a href="mailto:indikarupasena@gmail.com">indikarupasena@gmail.com</a></p><br>
        </div>
        <div class="col-md-4">
            <img class="img-fluid" src="assets/images/contactus.jpg" alt="">
        </div>
    </div>
</div>

<app-footer></app-footer>