<app-admin-header></app-admin-header>

<!-- sidebar -->
<div id="sidebar">
    <div class="toggle-btn" (click)="toggleSidebar()">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <aside class="sidebar">
        <div class="user-info" style="background: url(assets/images/user-img-background.jpg)">
            <div class="logo-section">
                <div class="image">
                    <img src="assets/images/user.png" width="48" height="48" alt="User" />
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blood Bank Sri
                        Lanka</div>
                    <div class="email">info@nbts.health.gov.lk</div>
                </div>
            </div>
        </div>
        <div class="menu">
            <ul class="list">
                <li class="header"><i class="fa fa-eye online-icon"></i> Online</li>
            </ul>
            <ul class="menu-bar">
                <li><a routerLink="/main-admin-dashboard"><i class="fas fa-book-reader"></i>Dashboard</a></li>
                <li>
                    <a><i class="fas fa-book"></i>Blood Storage</a>
                    <ul class="sub-menu">
                        <li><a routerLink="/view-blood-storage"><i class="fa fa-eye"></i>View Blood Storage</a></li>
                        <li><a routerLink="/manage-blood-storage"><i class="fa fa-eye"></i>Manage Blood Storage</a></li>
                        <li><a routerLink="/add-blood-storage"><i class="fa fa-eye"></i>Add Blood Storage</a></li>
                    </ul>
                </li>
                <li>
                    <a><i class="far fa-calendar-check"></i>Appointments</a>
                    <ul class="sub-menu">
                        <li><a routerLink="/admin-view-appointments"><i class="fas fa-eye"></i>View Appointments</a>
                        </li>
                        <li><a routerLink="/admin-accept-delete-appointments"><i class="fas fa-eye"></i>Pending
                                Appointments</a></li>
                        <li><a routerLink="/admin-accepted-appointments"><i class="fas fa-eye"></i>Accepted
                                    Appointments</a></li>
                        <li><a routerLink="/admin-finished-appointments"><i class="fas fa-eye"></i>Finished
                                        Appointments</a></li>
                    </ul>
                </li>
                <li>
                    <a><i class="fa fa-first-aid"></i>Blood Camps</a>
                    <ul class="sub-menu">
                        <li><a routerLink="/view-blood-campaigns"><i class="fa fa-eye"></i>View Blood Camps</a></li>
                        <li><a routerLink="/register-blood-campaign"><i class="fa fa-eye"></i>Add Blood Camps</a></li>
                        <li><a routerLink="/manage-blood-campaigns"><i class="fa fa-eye"></i>Manage Blood Camps</a></li>
                    </ul>
                </li>
                <li>
                    <a><i class="fas fa-book"></i>Manage Registered Donors</a>
                    <ul class="sub-menu">
                        <li><a routerLink="/manage-registered-donors"><i class="fa fa-eye"></i>Manage & Contact</a></li>
                    </ul>
                </li>
                <li>
                    <a><i class="fas fa-book"></i>Manage Registered Donee</a>
                    <ul class="sub-menu">
                        <li><a routerLink="/manage-registered-donee"><i class="fa fa-eye"></i>Manage & Contact</a></li>
                    </ul>
                </li>
                <li><a routerLink="/hospital-register"><i class="fa fa-link"></i>Add a New Hospital</a></li>
                <li><a routerLink="/manage-hopital-blood-orders"><i class="far fa-calendar-check"></i>Manage Hospital
                        Blood Orders</a></li>
            </ul>
        </div>
    </aside>
</div>


<div class="container" id="toggle_container_one">
    <div class="row clearfix">
        <div class="col-md-3">
           <app-donors-count></app-donors-count>
        </div>
        <div class="col-md-3">
          <app-donee-requests-count></app-donee-requests-count>
        </div>
        <div class="col-md-3">
           <app-pending-blood-campaigns></app-pending-blood-campaigns>
        </div>
        <div class="col-md-3">
            <app-accepted-blood-campaigns></app-accepted-blood-campaigns>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-3">
          <app-pending-appointments></app-pending-appointments>
        </div>
        <div class="col-md-3">
          <app-accepted-appointments></app-accepted-appointments>
        </div>
        <div class="col-md-3">
           <app-finished-appointments></app-finished-appointments>
        </div>
        <div class="col-md-3">
            <app-hospital-blood-request-count></app-hospital-blood-request-count>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-5">
            <h4 class="text-center">Available Blood Storage</h4>
            <button class="btn btn-danger">Print</button>
            <app-available-blood-storage-chart></app-available-blood-storage-chart>
        </div>

        <div class="col-md-6" style="margin-left: 60px;">
            <h4 class="text-center">Hospital Blood Requests</h4>
            <button class="btn btn-danger">Print</button>
            <app-hospital-blood-request-table></app-hospital-blood-request-table>
        </div>
    </div>
    <div class="row clearfix" style="margin-top: -50%;">
        <div class="col-md-5" style="margin-right: 60px;">
            <h4 class="text-center">Received Blood Storage</h4>
            <div class="filter-section">
                <div class="input-group">
                    <label class="label control-label">Year :</label>
                    <select class="form-control">
                      <option selected>Select an option</option>
                      <option value="1">2018</option>
                      <option value="2">2019</option>
                      <option value="3">2020</option>
                      <option value="4">2021</option>
                      <option value="5">2022</option>
                      <option value="6">2023</option>
                      <option value="7">2024</option>
                      <option value="8">2025</option>
                    </select>
                </div>
                <div class="input-group">
                    <label class="label control-label">Blood Group :</label>
                    <select class="form-control">
                      <option selected>Select an option</option>
                      <option value="1">A+</option>
                      <option value="2">A-</option>
                      <option value="3">B+</option>
                      <option value="4">B-</option>
                      <option value="5">AB+</option>
                      <option value="6">AB-</option>
                      <option value="7">O+</option>
                      <option value="8">O-</option>
                    </select>
                </div>
                 <button class="btn btn-danger">Print</button>
            </div>
            <app-received-blood-storage-chart></app-received-blood-storage-chart>           
        </div>
        <div class="col-md-5">
            <h4 class="text-center">Issued Blood Storage</h4>
            <div class="filter-section">
                <div class="input-group">
                    <label class="label control-label">Year :</label>
                    <select class="form-control">
                      <option selected>Select an option</option>
                      <option value="1">2018</option>
                      <option value="2">2019</option>
                      <option value="3">2020</option>
                      <option value="4">2021</option>
                      <option value="5">2022</option>
                      <option value="6">2023</option>
                      <option value="7">2024</option>
                      <option value="8">2025</option>
                    </select>
                </div>
                <div class="input-group">
                    <label class="label control-label">Blood Group :</label>
                    <select class="form-control">
                      <option selected>Select an option</option>
                      <option value="1">A+</option>
                      <option value="2">A-</option>
                      <option value="3">B+</option>
                      <option value="4">B-</option>
                      <option value="5">AB+</option>
                      <option value="6">AB-</option>
                      <option value="7">O+</option>
                      <option value="8">O-</option>
                    </select>
                </div>
                 <a class="btn btn-danger" href="https://app.powerbi.com/reportEmbed?reportId=5d73809f-74df-43aa-a70c-da8c5da8f221&autoAuth=true&ctid=aa232db2-7a78-4414-a529-33db9124cba7&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWVhc3QtYXNpYS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D">Print</a>
            </div>
            <app-issued-blood-storage-chart></app-issued-blood-storage-chart>           
        </div>
    </div>
</div>

