.container{
    margin: 20px 15px 15px 20px;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    overflow: auto;
    width: 1030px;
  }
  .tbl-section{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .tbl-header{
    background: rgb(5, 173, 56);
    font-size: 25px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
  }

  .table{
    display: block;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
  }
h4{
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 20px;
    margin-top: 30px;
}
th{
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(255, 255, 255);
    background: rgb(12, 163, 45);

}
td{
    padding-left: 10px;
    padding-right: 10px;

}
.medical{
  width: 50px;
  height: 50px;
}