

<div class="container-fluid">
    <div class="row">
        <div class="col">
           <h4 class="text-center">Blood Registered Donors</h4>
           <table class="display" datatable style="width: 100%;">
            <thead>
            <tr>
                <th >Donor ID</th>
                <th >Full Name</th>
                <th >Gender</th>
                <th >Birthday</th>
                <th >Last Donate Date</th>
                <th >City</th>
                <th >Current Weight</th>
                <th>Current Height</th>
                <th >Blood Group</th>
                <th >Address</th>
                <th >Email</th>
                <th >Contact No</th>
                <th >Spouce Details</th>
                <th >Health Issues</th>
                <th >Photo</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>D001</td>
                <td>Prageeth Thilina</td>
                <td>Male</td>
                <td>1995-04-13</td>
                <td>2020-08-10</td>
                <td>Benthota</td>
                <td>69kg</td>
                <td>175cm</td>
                <td>A+</td>
                <td>Ranthotuwila</td>
                <td>ptg@gmail.com</td>
                <td>0716925323</td>
                <td>Chathuri</td>
                <td>No</td>
                <td></td>
            </tr>
            <tr>
                <td>D002</td>
                <td>trageeth Thilina</td>
                <td>Male</td>
                <td>1995-04-13</td>
                <td>2020-08-10</td>
                <td>Benthota</td>
                <td>69kg</td>
                <td>175cm</td>
                <td>A+</td>
                <td>Ranthotuwila</td>
                <td>ptg@gmail.com</td>
                <td>0716925323</td>
                <td>Chathuri</td>
                <td>No</td>
                <td></td>
            </tr>
            <tr>
                <td>D003</td>
                <td>urageeth Thilina</td>
                <td>Male</td>
                <td>1995-04-13</td>
                <td>2020-08-10</td>
                <td>Benthota</td>
                <td>69kg</td>
                <td>175cm</td>
                <td>A+</td>
                <td>Ranthotuwila</td>
                <td>ptg@gmail.com</td>
                <td>0716925323</td>
                <td>Chathuri</td>
                <td>No</td>
                <td></td>
            </tr>
            <tr>
                <td>D003</td>
                <td>urageeth Thilina</td>
                <td>Male</td>
                <td>1995-04-13</td>
                <td>2020-08-10</td>
                <td>Benthota</td>
                <td>69kg</td>
                <td>175cm</td>
                <td>A+</td>
                <td>Ranthotuwila</td>
                <td>ptg@gmail.com</td>
                <td>0716925323</td>
                <td>Chathuri</td>
                <td>No</td>
                <td></td>
            </tr>
            <tr>
                <td>D003</td>
                <td>urageeth Thilina</td>
                <td>Male</td>
                <td>1995-04-13</td>
                <td>2020-08-10</td>
                <td>Benthota</td>
                <td>69kg</td>
                <td>175cm</td>
                <td>A+</td>
                <td>Ranthotuwila</td>
                <td>ptg@gmail.com</td>
                <td>0716925323</td>
                <td>Chathuri</td>
                <td>No</td>
                <td></td>
            </tr>
            <tr>
                <td>D003</td>
                <td>urageeth Thilina</td>
                <td>Male</td>
                <td>1995-04-13</td>
                <td>2020-08-10</td>
                <td>Benthota</td>
                <td>69kg</td>
                <td>175cm</td>
                <td>A+</td>
                <td>Ranthotuwila</td>
                <td>ptg@gmail.com</td>
                <td>0716925323</td>
                <td>Chathuri</td>
                <td>No</td>
                <td></td>
            </tr>
            <tr>
                <td>D003</td>
                <td>urageeth Thilina</td>
                <td>Male</td>
                <td>1995-04-13</td>
                <td>2020-08-10</td>
                <td>Benthota</td>
                <td>69kg</td>
                <td>175cm</td>
                <td>A+</td>
                <td>Ranthotuwila</td>
                <td>ptg@gmail.com</td>
                <td>0716925323</td>
                <td>Chathuri</td>
                <td>No</td>
                <td></td>
            </tr>
            <tr>
                <td>D003</td>
                <td>urageeth Thilina</td>
                <td>Male</td>
                <td>1995-04-13</td>
                <td>2020-08-10</td>
                <td>Benthota</td>
                <td>69kg</td>
                <td>175cm</td>
                <td>A+</td>
                <td>Ranthotuwila</td>
                <td>ptg@gmail.com</td>
                <td>0716925323</td>
                <td>Chathuri</td>
                <td>No</td>
                <td></td>
            </tr>
            <tr>
                <td>D003</td>
                <td>urageeth Thilina</td>
                <td>Male</td>
                <td>1995-04-13</td>
                <td>2020-08-10</td>
                <td>Benthota</td>
                <td>69kg</td>
                <td>175cm</td>
                <td>A+</td>
                <td>Ranthotuwila</td>
                <td>ptg@gmail.com</td>
                <td>0716925323</td>
                <td>Chathuri</td>
                <td>No</td>
                <td></td>
            </tr>
            <tr>
                <td>D003</td>
                <td>urageeth Thilina</td>
                <td>Male</td>
                <td>1995-04-13</td>
                <td>2020-08-10</td>
                <td>Benthota</td>
                <td>69kg</td>
                <td>175cm</td>
                <td>A+</td>
                <td>Ranthotuwila</td>
                <td>ptg@gmail.com</td>
                <td>0716925323</td>
                <td>Chathuri</td>
                <td>No</td>
                <td></td>
            </tr>
            <tr>
                <td>D003</td>
                <td>urageeth Thilina</td>
                <td>Male</td>
                <td>1995-04-13</td>
                <td>2020-08-10</td>
                <td>Benthota</td>
                <td>69kg</td>
                <td>175cm</td>
                <td>A+</td>
                <td>Ranthotuwila</td>
                <td>ptg@gmail.com</td>
                <td>0716925323</td>
                <td>Chathuri</td>
                <td>No</td>
                <td></td>
            </tr>
            <tr>
                <td>D003</td>
                <td>urageeth Thilina</td>
                <td>Male</td>
                <td>1995-04-13</td>
                <td>2020-08-10</td>
                <td>Benthota</td>
                <td>69kg</td>
                <td>175cm</td>
                <td>A+</td>
                <td>Ranthotuwila</td>
                <td>ptg@gmail.com</td>
                <td>0716925323</td>
                <td>Chathuri</td>
                <td>No</td>
                <td></td>
            </tr>
            <tr>
                <td>D003</td>
                <td>urageeth Thilina</td>
                <td>Male</td>
                <td>1995-04-13</td>
                <td>2020-08-10</td>
                <td>Benthota</td>
                <td>69kg</td>
                <td>175cm</td>
                <td>A+</td>
                <td>Ranthotuwila</td>
                <td>ptg@gmail.com</td>
                <td>0716925323</td>
                <td>Chathuri</td>
                <td>No</td>
                <td></td>
            </tr>
            <tr>
                <td>D003</td>
                <td>urageeth Thilina</td>
                <td>Male</td>
                <td>1995-04-13</td>
                <td>2020-08-10</td>
                <td>Benthota</td>
                <td>69kg</td>
                <td>175cm</td>
                <td>A+</td>
                <td>Ranthotuwila</td>
                <td>ptg@gmail.com</td>
                <td>0716925323</td>
                <td>Chathuri</td>
                <td>No</td>
                <td></td>
            </tr>
            <tr>
                <td>D003</td>
                <td>urageeth Thilina</td>
                <td>Male</td>
                <td>1995-04-13</td>
                <td>2020-08-10</td>
                <td>Benthota</td>
                <td>69kg</td>
                <td>175cm</td>
                <td>A+</td>
                <td>Ranthotuwila</td>
                <td>ptg@gmail.com</td>
                <td>0716925323</td>
                <td>Chathuri</td>
                <td>No</td>
                <td></td>
            </tr>
            <tr>
                <td>D003</td>
                <td>urageeth Thilina</td>
                <td>Male</td>
                <td>1995-04-13</td>
                <td>2020-08-10</td>
                <td>Benthota</td>
                <td>69kg</td>
                <td>175cm</td>
                <td>A+</td>
                <td>Ranthotuwila</td>
                <td>ptg@gmail.com</td>
                <td>0716925323</td>
                <td>Chathuri</td>
                <td>No</td>
                <td></td>
            </tr>
            <tr>
                <td>D003</td>
                <td>urageeth Thilina</td>
                <td>Male</td>
                <td>1995-04-13</td>
                <td>2020-08-10</td>
                <td>Benthota</td>
                <td>69kg</td>
                <td>175cm</td>
                <td>A+</td>
                <td>Ranthotuwila</td>
                <td>ptg@gmail.com</td>
                <td>0716925323</td>
                <td>Chathuri</td>
                <td>No</td>
                <td></td>
            </tr>
            </tbody>
           </table>
        </div>
    </div>
</div>