<app-navbar></app-navbar>

<div class="container">
    <h3 class="text-center">Education,Teaching and Research Section</h3>
    <div class="row align-items-center">
        <div class="col">
          <p class="caption bg-light">Education, Teaching and Research section of National Blood Transfusion Service is responsible to train all staff categories who are attach to Blood bank services.
            Medical officers, Nursing officers, Public Health Inspectors, Medical Laboratory technologists, junior staff members and Drivers are given training regarding Blood bank training.<br><br>
            
            In addition, Oversees trainers of various categories of medical field are allocated to training in this section periodically.<br><br>
            
            Medical students of state universities of Colombo, Sri Jayewardenepura and John Kotalawala Defense academy are allocated to ETRU for their Blood bank teaching appointments.<br><br>
            
            Officers from army and Navy also attached to complete their educational training in ETRU in National Blood Center, Narahenpita.<br><br>
            </p>
            <img src="././assets/images/training1.jpg" class="img-fluid img-thumbnail" alt="">
            <img src="././assets/images/training2.jpg" class="img-fluid img-thumbnail" alt="">
            <img src="././assets/images/training3.jpg" class="img-fluid img-thumbnail" alt="">
            <img src="././assets/images/training4.jpg" class="img-fluid img-thumbnail" alt="">
        </div>
    </div>
</div>

<app-footer></app-footer>