h3{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
    text-align: justify;
}
img{
    width: 500px;
}
.container{
    margin-bottom: 20px;
}