<app-admin-header></app-admin-header>
<app-admin-side-nav></app-admin-side-nav>

<div class="container">
    <div class="row">
       <div class="col">
        <h4 class="text-center">Blood Storage Inventory</h4>
       </div>
    </div>
    
    <div class="row clearfix">
        <div class="col-md-3">
            <div class="info-box bg-pink hover-expand-effect" style="background: rgb(103, 223, 99);">
                <div class="icon">
                    <i class="fa fa-file"></i>
                </div>
                <div class="content">
                    <div class="text">A+</div>
                    <h4>20%</h4>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="info-box bg-pink hover-expand-effect" style="background: rgb(243, 33, 149);">
                <div class="icon">
                    <i class="fa fa-file"></i>
                </div>
                <div class="content">
                    <div class="text">B+</div>
                    <h4>20%</h4>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="info-box bg-cyan hover-expand-effect" style="background: rgb(78, 240, 240);">
                <div class="icon">
                    <i class="fa fa-file"></i>
                </div>
                <div class="content">
                    <div class="text">AB+</div>
                    <h4>20%</h4>          
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="info-box bg-orange hover-expand-effect" style="background: rgb(236, 157, 11);">
                <div class="icon">
                    <i class="fa fa-file"></i>
                </div>
                <div class="content">
                    <div class="text">O+</div>
                    <h4>20%</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-3">
            <div class="info-box bg-pink hover-expand-effect" style="background: rgb(103, 223, 99);">
                <div class="icon">
                    <i class="fa fa-file"></i>
                </div>
                <div class="content">
                    <div class="text">A-</div>
                    <h4>20%</h4>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="info-box bg-pink hover-expand-effect" style="background: rgb(243, 33, 149);">
                <div class="icon">
                    <i class="fa fa-file"></i>
                </div>
                <div class="content">
                    <div class="text">B-</div>
                    <h4>20%</h4>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="info-box bg-cyan hover-expand-effect" style="background: rgb(78, 240, 240);">
                <div class="icon">
                    <i class="fa fa-file"></i>
                </div>
                <div class="content">
                    <div class="text">AB-</div>
                    <h4>20%</h4>             
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="info-box bg-orange hover-expand-effect" style="background: rgb(236, 157, 11);">
                <div class="icon">
                    <i class="fa fa-file"></i>
                </div>
                <div class="content">
                    <div class="text">O-</div>
                    <h4>20%</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col">
            <div class="tbl-section">
                <input type="button" class="btn btn-success" (click)="onDownload()" value="Generate Documents"/>
            </div>
            <table datatable style="width: 100%;" class="table table-striped table-bordered table-hover display" id="my-table">
            <thead>
                <tr><th colspan="5" class="text-center tbl-header">National Blood Transfussion Service Sri Lanka</th></tr>
                <tr><th colspan="5" class="text-center tbl-header">Available Blood Storage</th></tr>
            </thead>
            <tbody >
                <tr>
                    <th class="table-danger">Blood Bag ID</th>
                    <th class="table-danger">Blood Group</th>
                    <th class="table-danger">Volume(ml)</th>
                    <th class="table-danger">Blood Bag Received Date</th>
                    <th class="table-danger">Blood Bag Expiry Date</th>
                </tr>
                <tr *ngFor="let bloodinv of bloodinventoryService.blood_inventories">
                    <td>{{bloodinv._id}}</td>
                    <td>{{bloodinv.blood_group}}</td>
                    <td>{{bloodinv.volume}}</td>
                    <td>{{bloodinv.received_date}}</td>
                    <td>{{bloodinv.expiry_date}}</td>
                </tr>
            </tbody>
           </table>
        </div>
    </div>
</div>