<app-hospital-header></app-hospital-header>

<div class="container-fluid">
    <div class="row">
        <div class="col">
          <!-- Success message -->
            <div class="success" *ngIf="showSucessMessage">
             Deleted successfully
            </div>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col">
           <h4 class="text-center">Manage Appointments</h4>
           <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th class="table-danger">Donor ID</th>
                <th class="table-danger">Appointment ID</th>
                <th class="table-danger">NIC</th>
                <th class="table-danger">Location</th>
                <th class="table-danger">Date</th>
                <th class="table-danger">Time</th>
                <th class="table-danger">Mobile No.</th>
                <th class="table-danger">Email</th>
                <th class="table-danger">Action</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let apnts of appointmentService.appointments">
                    <td>{{apnts.donor_id}}</td>
                    <td>{{apnts._id}}</td>
                    <td>{{apnts.donor_NIC}}</td>
                    <td>{{apnts.location}}</td>
                    <td>{{apnts.date}}</td>
                    <td>{{apnts.time}}</td>
                    <td>{{apnts.contact}}</td>
                    <td>{{apnts.donor_email}}</td>
                    <td>
                        <a class="btn btn-small btn-success" (click)="onAccept(apnts)" style="margin-right: 10px;">Accept</a>
                        <a class="btn btn-small btn-danger" (click)="onDelete(apnts._id)">Delete</a>
                    </td>
                </tr>
            </tbody>
           </table>
        </div>
    </div>
</div>