<app-navbar></app-navbar>

<div class="container">
    <h3 class="text-center">Performances of NBTS</h3>
    <div class="row align-items-center">
        <div class="col">
          <h6>NBTS has chain of awards from local and international organizations. Few of them are worth mentioning.</h6>
          <ul><li>National Health Excellence award-Gold 2009-2010</li><br><br>
            <li>Taiki Akimoto 5S Award 2010</li><br><br>
            <li>National Quality Award 2011</li><br><br>
            <li>National Green Award 2011</li><br><br>
            <li>ISO 15189 Laboratory accreditation 2011 - This was awarded on August 2011 was the first ever such achievement by any government laboratory in Sri Lanka.</li><br><br>
            <li>ISBT Award for Developing Countries 2012 - It is the best international recognition obtained by NBTS so far. It was awarded by the International Society of blood Transfusion and from among 28 competitors National Blood Transfusion Service Sri Lanka was selected as the Best Transfusion Service among developing countries. ISBT Award for the Developing Countries is not a consequence of a process conducted targeting such a win. It is yet another milestone for the NBTS Sri Lanka for its continuous endeavor to its mission “To be a unique model for the world”</ul>
            <div>
                <h6 style="margin-top: 40px;">Taiki Akimoto 5S Awards 2010</h6>
                <img src="././assets/images/award1.jpg" class="img-fluid thumbnail img-rounded" alt="">
            </div>
            <div>
                <h6>National Green Awards 2011</h6>
                <img src="././assets/images/award2.jpg" class="img-fluid thumbnail img-rounded" alt="">
            </div>
            <div>
                <h6>National Health Excellence Awards 2009-2010</h6>
                <img src="././assets/images/award3.jpg" class="img-fluid thumbnail img-rounded" alt="">
            </div>
            <div>
                <h6>ISO accreditation for the laboratories in the National Blood Center, being the first ever government sector laboratories to get ISO accreditation.</h6>
                <img src="././assets/images/award4.png" class="img-fluid thumbnail img-rounded" alt="" style="margin-bottom: 30px;">
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>