<h2 class="text-center" id="h2">Donee Registration Form</h2>
	<div class="container">
   	   <div class="row">
           <div class="col-md-6">
              <div class="input-group">
           	    <label class="label control-label">Customer ID</label>
                <input type="text" name="cusid" class="form-control" placeholder="Customer ID" disabled>
			  </div>
              <div class="input-group">
                <label class="label control-label">First Name</label>
                <input type="text" name="fname" class="form-control" placeholder="First Name">
              </div>
              <div class="input-group">
                <label class="label control-label">Last Name</label>
                <input type="text" name="lname" class="form-control" placeholder="Last Name">
              </div>
              <div class="input-group">
                <label class="label control-label">Address</label>
                <textarea name="address" class="form-control" placeholder="Address"></textarea>
              </div>
              <div class="input-group">
                <label class="label control-label">Contact No</label>
                <input type="tel" name="contact" class="form-control" placeholder="Contact No">
              </div>
              <div class="input-group">
                <label class="label control-label">NIC No</label>
                <input type="text" name="nic" class="form-control" placeholder="NIC No">
              </div>
              <div class="input-group">
                <label class="label control-label">Email Address</label>
                <input type="email" name="email" class="form-control" placeholder="Email Address">
              </div>
   	   	   </div>
		       <div class="col-md-6">
           	  <div class="input-group">
                <label class="label control-label">Username</label>
                <input type="text" name="username" class="form-control" placeholder="Username">
              </div>
              <div class="input-group">
                <label class="label control-label">Password</label>
                <input type="password" name="password" class="form-control" placeholder="Password">
              </div>
              <div class="input-group">
                <label class="label control-label">Gender</label>
                <input type="radio" name="gender" id="male" class="radio" value="male">&nbsp;<label id="rd">Male</label>
                <input type="radio" name="gender" id="female" class="radio" value="female">&nbsp;<label id="rd">Female</label>
              </div>
              <div class="input-group">
                <label class="label control-label">Birthday</label>
                <input type="date" name="birthday" class="form-control">
              </div>
              <div class="input-group">
                <label class="label control-label">Alergy Condition</label>
                <textarea name="alergy" class="form-control" placeholder="Alergy Condition"></textarea>
              </div>
              <div class="input-group">
                <label class="label control-label">Other Details</label>
                <textarea name="other" class="form-control" placeholder="Other Details"></textarea>
              </div>
   	   	   </div>
            <div class="input-group"> 
              <input type="submit" name="registersubmit" class="btn btn-success" value="submit">
              <input type="reset" name="registerreset" class="btn btn-danger" value="Cancel">
            </div> 
       </div>
  </div>