<app-donee-header></app-donee-header>

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h4 class="text-center">Request Blood</h4>
                <div class="input-group">
                     <label class="label control-label">Donee ID :</label>
                  <input type="text" name="cusid" class="form-control" placeholder="Donor ID" readonly>
                </div>
                <div class="input-group">
                  <label class="label control-label">City :</label>
                  <input type="text" name="city" class="form-control" placeholder="City" required>
                </div>                      
                <div class="input-group">
                  <label class="label control-label">Contact No :</label>
                  <input type="tel" name="contact" class="form-control" placeholder="Contact No" required>
                </div>
                <div class="input-group">
                    <label class="label control-label">Blood Group :</label>
                    <select class="form-control" required>
                      <option selected>Select an option</option>
                      <option value="1">A+</option>
                      <option value="2">A-</option>
                      <option value="3">B+</option>
                      <option value="4">B-</option>
                      <option value="5">AB+</option>
                      <option value="6">AB-</option>
                      <option value="7">O+</option>
                      <option value="8">O-</option>
                    </select>
                  </div>
                  <div class="input-group">
                    <label class="label control-label">Address :</label>
                    <textarea name="address" class="form-control" placeholder="Address" required></textarea>
                  </div>
                  <div class="input-group">
                      <label class="label control-label">Spouce Details :</label>
                      <textarea name="spouce" class="form-control" placeholder="Spouce Details" required></textarea>
                  </div>
                  <div class="input-group">
                    <label class="label control-label">Health Issues :</label>
                    <textarea name="health" class="form-control" placeholder="Health Issues" required></textarea>
                  </div>
                  <div class="input-group">
                    <label class="label control-label">Medical Reports :</label>
                    <input type="file" name="medical_reports" class="form-control" required>
                  </div>  
            <input type="submit" name="check" class="btn btn-success" value="Check" style="margin-left: 18%;">
            <input type="reset" name="clear" class="btn btn-danger" value="Clear">
            <input type="reset" name="cancel" class="btn btn-danger" value="Cancel">   
        </div>
    </div>
</div>
