<app-navbar></app-navbar>

<div class="container">
    <h3 class="text-center">News and Events</h3>
    <div class="row align-items-center">
        <div class="col">
          <u><h6>Training Programme on Basic Immunohaematology 2019</h6></u>
          <img class="img-fluid img-thumbnail" src="assets/images/event1.jpeg" alt="">
          <img class="img-fluid img-thumbnail" src="assets/images/event2.jpeg" alt="">
          <img class="img-fluid img-thumbnail" src="assets/images/event3.jpeg" alt="">
          <img class="img-fluid img-thumbnail" src="assets/images/event4.jpeg" alt="">
          <img class="img-fluid img-thumbnail" src="assets/images/event5.jpeg" alt="">
          <img class="img-fluid img-thumbnail" src="assets/images/event6.jpeg" alt="">
          <img class="img-fluid img-thumbnail" src="assets/images/event7.jpeg" alt="">
          <img class="img-fluid img-thumbnail" src="assets/images/event8.jpeg" alt="">
          <img class="img-fluid img-thumbnail" src="assets/images/event9.jpeg" alt="">
          <img class="img-fluid img-thumbnail" src="assets/images/event10.jpeg" alt="">
          <img class="img-fluid img-thumbnail" src="assets/images/event11.jpeg" alt="">
          <img class="img-fluid img-thumbnail" src="assets/images/event12.jpeg" alt="">
          <img class="img-fluid img-thumbnail" src="assets/images/event13.jpeg" alt="">
          <img class="img-fluid img-thumbnail" src="assets/images/event14.jpeg" alt="">
          <img class="img-fluid img-thumbnail" src="assets/images/event15.jpeg" alt="">
          <img class="img-fluid img-thumbnail" src="assets/images/event16.jpeg" alt="">
          <img class="img-fluid img-thumbnail" src="assets/images/event18.jpeg" alt="">
          <img class="img-fluid img-thumbnail" src="assets/images/event19.jpeg" alt="">
          <img class="img-fluid img-thumbnail" src="assets/images/event20.jpeg" alt="">
          <img class="img-fluid img-thumbnail" src="assets/images/event21.jpeg" alt="">
          <img class="img-fluid img-thumbnail" src="assets/images/event22.jpeg" alt="">
        </div>
    </div>
</div>

<app-footer></app-footer>