<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#">
    <img src="/assets/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    National Blood Transfusion Service
  </a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         About
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Vision and Mission</a>
          <a class="dropdown-item" href="#">Our Journey</a>
          <a class="dropdown-item" href="#">About NBTS</a>
          <a class="dropdown-item" href="#">Organization Chart</a>
          <a class="dropdown-item" href="#">Cluster System</a>
          <a class="dropdown-item" href="#">Performance of NBTS</a>
          <a class="dropdown-item" href="#">Contact Us</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Donate
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">About Blood</a>
          <a class="dropdown-item" href="#">Functions of Blood</a>
          <a class="dropdown-item" href="#">Blood Groups</a>
          <a class="dropdown-item" href="#">Who Can Donate Blood</a>

        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Services
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Lab Services</a>
          <a class="dropdown-item" href="#">Training Section</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Publications
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Mobile Calender</a>
          <a class="dropdown-item" href="#">Donor Magazine</a>
          <a class="dropdown-item" href="#">News</a>
          <a class="dropdown-item" href="#">Annual Reports</a>

        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          WBDD
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">World Blood Donors Day 2019</a>
          <a class="dropdown-item" href="#">World Blood Donors Day 2018</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          WHO CC
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Terms of Reference</a>
          <a class="dropdown-item" href="#">News and Events</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <div class="input-group">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" style="margin-right: 0px;">
        <div class="input-group-append">
          <button class="btn btn-secondary btn-search" type="button"><i class="fa fa-search"></i></button>
        </div>
      </div>&#160;
    <ul class="navbar-nav ml-auto" style="border: 1px;">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" style="background: springgreen;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user" style="font-size: 20px"></i>&nbsp;Login
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/donee-login">Donee Login</a>
          <a class="dropdown-item" routerLink="/donor-login">Donor Login</a>
          <a class="dropdown-item" routerLink="/admin-login">Admin Login</a>
        </div>
      </li>
    </ul>
    </form>
  </div>
</nav>
