<app-navbar></app-navbar>

<div class="container">
    <h3 class="text-center">Laboratory Services</h3>
    <div class="row align-items-center">
        <div class="col">
          <h4>Donation Testing Section</h4>
          <div class="cont">
          <h6>a) TTI Testing (Microbiology) Laboratory<br> Performs testing of Donor blood specimens for TTI markers of HIV, HBV, HCV and Syphilis infections.</h6>
          <h6>b) Donor Grouping Laboratory<br> Performs testing of Donor blood specimens for ABO and Rh D grouping</h6>
          <h6>Donation Testing Section</h6>
          <p class="caption bg-light">Routine working hours - 8.00am – 4.00pm on week days<br>
            8.00am – 12.00pm on Saturdays<br>
            Emergency service - After 4.00pm on week days, from 12.00n on Saturday – 8.00am on Monday<br>
            Sundays and Public holidays – 24 hours</p>
          </div>
          <h4>Compatibility Testing Section (Blood Transfusion)</h4>
          <div class="cont">
          <p class="caption bg-light">This section performs Pre Transfusion Testing on patient samples sent from various hospitals to
               ensure the compatibility of blood products issued for patients.</p>
          <h6>Hours of Operation</h6>
          <p class="caption bg-light">24 hours of the day including weekdays, weekends and public holidays</p>
        </div>
          <h4>Histocompatibility Laboratory</h4>
          <div class="cont">
          <p class="caption bg-light">Provides testing for Class I and Class II HLA by serologic techniques for purposes such as bone
               marrow and solid organ transplant donor /patient testing, disease association studies and
                paternity evaluation. Tests include HLA Class I & II typing, antibody screening/identification
                 and cross matching.</p>
          <h6>Hours of Operation</h6>
          <p class="caption bg-light">Routine working hours - 8.00am – 4.00pm on week days<br>
            8.00am – 12.00pm on Saturdays</p>
           </div>
            <h4>Reference Laboratory</h4>
            <div class="cont">
           <h6>Red Cell Immunohaematology (RCI) Reference Laboratory</h6>
           <p class="caption bg-light">Performs solving of Blood Group Serology problems referred by various hospital Blood Banks such
                as Blood Grouping anomalies, Compatibility testing problems. Also carries out special RCI tests
                like Red Cell Phenotyping, Antibody identification and titration, testing for Cold agglutinins
                 etc.</p>
            <h6>Hours of Operation</h6>
            <p class="caption bg-light">Working hours - 8.00am -8.00pm on 365 days</p>
        </div>
        </div>
    </div>
</div>

<app-footer></app-footer>