h3{
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    color:  #ff2929;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h4{
    font-weight: bold;
    color: green;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
h6{
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-size: 15px;
    margin-bottom: 20px;
}
.cont{
    margin-left: 15px;
}
p{
    text-align: justify;
    font-family: serif;
}