<app-admin-header></app-admin-header>

<!-- sidebar -->
<div id="sidebar">
    <div class="toggle-btn" (click)="toggleSidebar()">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <aside class="sidebar">
        <div class="user-info" style="background: url(assets/images/user-img-background.jpg)">
            <div class="logo-section">
                <div class="image">
                    <img src="assets/images/user.png" width="48" height="48" alt="User" />
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blood Bank Sri
                        Lanka</div>
                    <div class="email">info@nbts.health.gov.lk</div>
                </div>
            </div>
        </div>
        <div class="menu">
            <ul class="list">
                <li class="header"><i class="fa fa-eye online-icon"></i> Online</li>
            </ul>
            <ul class="menu-bar">
                <li><a routerLink="/main-admin-dashboard"><i class="fas fa-book-reader"></i>Dashboard</a></li>
                <li>
                    <a><i class="fas fa-book"></i>Blood Storage</a>
                    <ul class="sub-menu">
                        <li><a routerLink="/view-blood-storage"><i class="fa fa-eye"></i>View Blood Storage</a></li>
                        <li><a routerLink="/manage-blood-storage"><i class="fa fa-eye"></i>Manage Blood Storage</a></li>
                        <li><a routerLink="/add-blood-storage"><i class="fa fa-eye"></i>Add Blood Storage</a></li>
                    </ul>
                </li>
                <li>
                    <a><i class="far fa-calendar-check"></i>Appointments</a>
                    <ul class="sub-menu">
                        <li><a routerLink="/admin-view-appointments"><i class="fas fa-eye"></i>View Appointments</a>
                        </li>
                        <li><a routerLink="/admin-accept-delete-appointments"><i class="fas fa-eye"></i>Pending
                                Appointments</a></li>
                        <li><a routerLink="/admin-accepted-appointments"><i class="fas fa-eye"></i>Accepted
                                Appointments</a></li>
                        <li><a routerLink="/admin-finished-appointments"><i class="fas fa-eye"></i>Finished
                                Appointments</a></li>
                    </ul>
                </li>
                <li>
                    <a><i class="fa fa-first-aid"></i>Blood Camps</a>
                    <ul class="sub-menu">
                        <li><a routerLink="/view-blood-campaigns"><i class="fa fa-eye"></i>View Blood Camps</a></li>
                        <li><a routerLink="/register-blood-campaign"><i class="fa fa-eye"></i>Add Blood Camps</a></li>
                        <li><a routerLink="/manage-blood-campaigns"><i class="fa fa-eye"></i>Manage Blood Camps</a></li>
                    </ul>
                </li>
                <li>
                    <a><i class="fas fa-book"></i>Manage Registered Donors</a>
                    <ul class="sub-menu">
                        <li><a routerLink="/manage-registered-donors"><i class="fa fa-eye"></i>Manage & Contact</a></li>
                    </ul>
                </li>
                <li>
                    <a><i class="fas fa-book"></i>Manage Registered Donee</a>
                    <ul class="sub-menu">
                        <li><a routerLink="/manage-registered-donee"><i class="fa fa-eye"></i>Manage & Contact</a></li>
                    </ul>
                </li>
                <li><a routerLink="/hospital-register"><i class="fa fa-link"></i>Add a New Hospital</a></li>
                <li><a routerLink="/manage-hopital-blood-orders"><i class="far fa-calendar-check"></i>Manage Hospital
                        Blood Orders</a></li>
                <li><a routerLink="/blood-inventory-report"><i class="fas fa-book-reader"></i>Reports</a></li>

            </ul>
        </div>
    </aside>
</div>

<!-- get appointment table -->
<div class="container-fluid" id="toggle_container_one">
    <div class="row">
        <div class="col">
            <!-- Success message -->
            <div class="success" *ngIf="showSucessMessage">
                Deleted successfully
            </div>
            <!-- Appointment accept message -->
            <div class="success" *ngIf="acceptMessage">
                Appointment Accepted..
            </div>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col">
            <h4 class="text-center">Manage Appointments</h4>
            <table *ngIf="appointmentService.appointments" datatable="ng"
                class="table table-striped table-bordered table-hover display">
                <thead>
                    <tr>
                        <td colspan="10" class="tbl-header text-center">National Blood Transfussion Service</td>
                    </tr>
                    <tr>
                        <th class="table-danger">Donor ID</th>
                        <th class="table-danger">Appointment ID</th>
                        <th class="table-danger">NIC</th>
                        <th class="table-danger">Location</th>
                        <th class="table-danger">Date</th>
                        <th class="table-danger">Time</th>
                        <th class="table-danger">Mobile No.</th>
                        <th class="table-danger">Email</th>
                        <th class="table-danger">Status</th>
                        <th class="table-danger">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let apnts of appointmentService.appointments">
                        <td>{{apnts.donor_id}}</td>
                        <td>{{apnts._id}}</td>
                        <td>{{apnts.donor_nic}}</td>
                        <td>{{apnts.location}}</td>
                        <td>{{apnts.date}}</td>
                        <td>{{apnts.time}}</td>
                        <td>{{apnts.contact}}</td>
                        <td>{{apnts.email}}</td>
                        <td style="color: rgb(230, 7, 7);">{{apnts.status}}</td>
                        <td>
                            <a class="btn btn-xs btn-success" style="margin-right: 5px;"
                                (click)="onEditnew(apnts._id,apnts.donor_nic,apnts.location,apnts.date,apnts.time,apnts.contact,apnts.status)">Accept</a>
                            <a class="btn btn-xs btn-danger" (click)="onDelete(apnts._id)">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto" style="margin-top: 30px;">
            <img src="assets/images/appointment-calendar.jpeg" class="img-fluid" alt="">
        </div>
    </div>
</div>