<app-navbar></app-navbar>

<div class="container">
    <h3 class="text-center">Services of NBTS</h3>
    <div class="row align-items-center bg-light">
        <div class="col-md-8">
            <p class="caption">
                1.Collection of blood within hospital based blood bank premises and in the community via   mobile blood collection sessions<br><br>
                2. Screening collected blood for transfusion transmissible infections, processing whole blood into components & storage of blood and blood components under optimal conditions.<br><br>
                3. Distribution & issue of blood & blood components within blood banks and efficient inventory management<br><br>
                4. Promotion of appropriate clinical use of blood & blood components through hospital transfusion committees and by continuous educational programs<br><br>
                5. Clinical services therapeutic plasma exchange, HLA typing and provision of HLA matched products on request, reference immunohaematology laboratory<br><br>
                6. Manufacturing laboratory reagents and reagent red cells<br><br>
                7. Conducting training programs for post graduate trainees on Transfusion Medicine and Haematology
            </p>
        </div>
        <div class="col-md-4">
            <img src="././assets/images/img1.jpg" class="img-fluid img-thumbnail img-rounded" style="margin-bottom: 10px;" alt="">
            <img src="././assets/images/img4.jpg" class="img-fluid img-thumbnail img-rounded" alt="">
        </div>
    </div>
</div>

<app-footer></app-footer>