.container{
    margin-bottom: 20px;
}
h3{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
img{
    height: 13%;
    width: 100%;

}
p{
    text-align: justify;
    font-size: 15px;
}