h3{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
li{
    font-weight: bold;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.block{
    margin-bottom: 20px;
}
.col-md-6{
    margin-left: 10%;
}
