<app-navbar></app-navbar>
	<div class="container">
    <h2 class="text-center" style="margin-left: -2%;">Donor Registration Form</h2>
      <form #signUpForm = "ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">
   	    <div class="row fadeInDown">
           <div class="col-md-6">
              <div class="input-group">
           	    <label class="label control-label">Donor ID :</label>
                <input type="text" name="donor_id" #donor_id="ngModel" [(ngModel)]="donorService.selectedUser.donor_id" class="form-control" placeholder="Donor ID" readonly>
              </div>
              <div class="input-group">
                <label class="label control-label">NIC No :</label>
                <input type="text" name="nic" #nic="ngModel" [(ngModel)]="donorService.selectedUser.nic" class="form-control" placeholder="NIC No" >
              </div>
              <div class="input-group">
                <label class="label control-label">Full Name :</label>
                <input type="text" name="full_name" #full_name="ngModel" [(ngModel)]="donorService.selectedUser.full_name" class="form-control" placeholder="Name" >
              </div>
              <div class="input-group">
                <label class="label control-label">Gender :</label>
                <input type="radio" name="gender" #gender="ngModel" [(ngModel)]="donorService.selectedUser.gender" id="male" class="radio" value="male">&nbsp;<label id="rd">Male</label>
                <input type="radio" name="gender" #gender="ngModel" [(ngModel)]="donorService.selectedUser.gender" id="female" class="radio" value="female">&nbsp;<label id="rd">Female</label>
              </div>
              <div class="input-group">
                <label class="label control-label">Birthday :</label>
                <input type="date" name="birthday" #birthday="ngModel" [(ngModel)]="donorService.selectedUser.birthday" class="form-control" >
              </div>
              <div class="input-group">
                <label class="label control-label">Last Donate<br> Date :</label>
                <input type="date" name="last_donate_date" #last_donate_date="ngModel" [(ngModel)]="donorService.selectedUser.last_donate_date" class="form-control" >
              </div>
              <div class="input-group">
                <label class="label control-label">City :</label>
                <input type="text" name="city" #city="ngModel" [(ngModel)]="donorService.selectedUser.city" class="form-control" placeholder="City" >
              </div>
              <div class="input-group">
                <label class="label control-label">Current Weight :</label>
                <input type="number" name="weight" #weight="ngModel" [(ngModel)]="donorService.selectedUser.weight" [(ngModel)]="donorService.selectedUser.weight" class="form-control" placeholder="Weight" >
              </div>
              <div class="input-group">
                <label class="label control-label">Current Height :</label>
                <input type="number" name="height" #height="ngModel" [(ngModel)]="donorService.selectedUser.height" class="form-control" placeholder="Height" >
              </div>          
   	   	   </div>
		       <div class="col-md-6">
              <div class="input-group">
                <label class="label control-label">Blood Group :</label>
                <select class="form-control" name="blood_group" #blood_group="ngModel" [(ngModel)]="donorService.selectedUser.blood_group" >
                  <option selected>Select an option</option>
                  <option value="1">A+</option>
                  <option value="2">A-</option>
                  <option value="3">B+</option>
                  <option value="4">B-</option>
                  <option value="5">AB+</option>
                  <option value="6">AB-</option>
                  <option value="7">O+</option>
                  <option value="8">O-</option>
                </select>
              </div>
              <div class="input-group">
                <label class="label control-label">Address :</label>
                <textarea name="address" #address="ngModel" [(ngModel)]="donorService.selectedUser.address" class="form-control" placeholder="Address" ></textarea>
              </div>
              <div class="input-group">
                <label class="label control-label">Email Address :</label>
                <input type="email" name="email" #email="ngModel" [(ngModel)]="donorService.selectedUser.email" class="form-control" placeholder="Email Address" [pattern]="emailRegex"  [ngClass]="{'invalid-textbox' :signUpForm.submitted && !email.valid }">
                <div *ngIf="signUpForm.submitted && email.errors">
                  <label *ngIf="email.errors.required" class="validation-message">This field is required.</label>
                  <label *ngIf="email.errors.pattern" class="validation-message">Invalid email address.</label>
                </div>
              </div>
              <div class="input-group">
                <label class="label control-label">Contact No :</label>
                <input type="tel" name="contact" #contact="ngModel" [(ngModel)]="donorService.selectedUser.contact" class="form-control" placeholder="Contact No" >
              </div>   
              <div class="input-group wrapper">
                  <label class="label control-label">Password :</label>
                  <input type="password" name="password" #password="ngModel" [(ngModel)]="donorService.selectedUser.password" id="password" class="form-control" placeholder="Password" minlength="4" [ngClass]="{'invalid-textbox' :signUpForm.submitted && !password.valid }">
                  <i class="fa fa-eye" style="position: absolute;margin-left: 93%;margin-top: 12px;" (click)="angpswrdVisible()"></i> 
                  <div *ngIf="signUpForm.submitted && password.errors">
                    <label *ngIf="password.errors.required" class="validation-message">This field is required.</label>
                    <label *ngIf="password.errors.minlength" class="validation-message">Enter atleast 4 characters.</label>
                  </div>                 
              </div>
              <div class="input-group wrapper">
                <label class="label control-label">Retype<br>Password :</label>
                <input type="password" name="re_password" #re_password="ngModel" [(ngModel)]="donorService.selectedUser.re_password" id="re-type-password" class="form-control" placeholder="Password" minlength="4">
                <i class="fa fa-eye" style="position: absolute;margin-left: 93%;margin-top: 12px;" (click)="angrepswrdVisible()"></i>                  
            </div>
              <div class="input-group">
                  <label class="label control-label">Spouce Details :</label>
                  <textarea name="spouce" #spouce="ngModel" [(ngModel)]="donorService.selectedUser.spouce" class="form-control" placeholder="Spouce Details" ></textarea>
              </div>
              <div class="input-group">
                <label class="label control-label">Health Issues :</label>
                <textarea name="health" #health="ngModel" [(ngModel)]="donorService.selectedUser.health" class="form-control" placeholder="Health Issues" ></textarea>
            </div>
            <div class="input-group">
              <label class="label control-label">Photo :</label>
              <input type="file" name="photo" #photo="ngModel" [(ngModel)]="donorService.selectedUser.photo" class="form-control" placeholder="Photo">
            </div>
           </div>
                 <input type="submit" class="btn btn-success" value="Sign Up" style="margin-left: 18%;">
        </div>
    </form>

<!-- Success message -->
    <div class="success" *ngIf="showSucessMessage">
       Saved successfully
    </div>

<!-- Error message -->
    <div class="alert" *ngIf="serverErrorMessages">
     {{serverErrorMessages}}
    </div>
    
</div>

